<div class="row content-preview-wrapper-row">
	<div class="col-sm-12 content-preview-item">
		<div class="content-preview-image">
			#if ($info.featuredImage)
				#if ($info.feature)
					<a href="$info.contentUrl"><img src="$info.featuredImage" alt="$info.title"></a>
				#else
					<a href="$info.contentUrl"><img src="$info.featuredImage" width="100%" alt="$info.title"></a>
				#end
			#end
		</div>
	</div>
	<div class="col-sm-12 content-preview-item">
		<h4><a href="$info.contentUrl" class="">$info.title</a></h4>
		<p class="text-left">
			<bd>
				<i class="fa fa-eye"></i>
				$info.hitCounter
				&nbsp
				<i class="fa fa-heart"></i>
				<span id="score">
					#if ($info.score > 0)
						+$info.score
					#else
						$info.score
					#end
				</span>
			</bd>
		</p>
		<p>$info.shortDescription</p>
	</div>
</div>