<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="controlpanelfragments :: controlpanelhead(title=~{::title/text()})">
    <title th:text="#{solution}">Solution Edit</title>
</head>

<body id="page-top" class="index">
<div th:replace="controlpanelfragments :: controlpanelnavbar"></div>

<div class="container-fluid">
    <div class="section">
        <ol class="breadcrumb">
            <li><a href="/controlpanel/home/home.html" th:href="@{/controlpanel/home}">Administration</a></li>
            <li><a href="/controlpanel/solution/list.html" th:href="@{/controlpanel/solution}">Solution Listing</a></li>
            <li>Term Maintenance</li>
        </ol>
        <form id="solutionForm" th:action="@{/controlpanel/solution/save}" th:object="${solution}" action="#" method="post">
            <input type="hidden" th:field="*{id}"/>

            <div class="alert alert-success" role="alert" th:if="${globalMessage} != null">
                <a class="panel-close close" data-dismiss="alert">X</a>
                <i class="glyphicon glyphicon-ok"></i> <span th:text="#{saved-success}">Success!</span>
            </div>
            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
                <a class="panel-close close" data-dismiss="alert">X</a>
                <p th:each="error : ${#fields.errors('*')}" class="m-0" th:text="${error}">Validation error</p>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="title" th:text="#{title}">Title</label>
                        <input type="text" th:field="*{title}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="category" th:text="#{category}">category</label>
                        <select name="categoryId" id="categoryId" class="form-control input-sm">
                            <option value="" />
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="${solution.categoryId} != null ? (${solution.categoryId} == ${category.id}) : false"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description" th:text="#{text}">text</label>
                        <textarea th:field="*{description}" class="form-control" value="" display="none" style="display: none"></textarea>
                        <div id="editor" style="width: 100%;height: 300px;">
                        </div>
                    </div>
                    <div class="form-actions">
                        <input id="saveSolution" class="btn btn-sm btn-primary" th:value="#{submit}" role="button">
                        <a class="btn btn-default btn-sm" href="/controlpanel/solution/list.html" th:href="@{/controlpanel/solution}" th:text="#{cancel}">cancel</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default" th:if="${!solution.new}">
                        <div class="panel-heading">Images</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-lg-4">Image Upload</label>
                                <div class="col-lg-8">
                                    <div class="thumbnail" style="max-width: 200px; max-height: 200px; line-height: 20px;" th:if="${solution.imagePath} != null">
                                        <img src="/images/demoUpload.jpg" th:src="${solution.imagePath}" th:alt-title=".."/>
                                    </div>
                                    <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#uploadImageModal">Select image</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" th:if="${!solution.new}">
                        <div class="panel-heading" th:text="#{items}">Item</div>
                        <div class="panel-body">
                            <a href="/controlpanel/solution/editSolutionItem.html" th:href="@{'/controlpanel/solution/' + ${solution.id} + '/solutionItem/add'}" class="btn btn-sm btn-primary">Add Item</a>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th th:text="#{id}">id</th>
                                <th th:text="#{name}">name</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="solutionItem : ${solution.solutionItems}">
                                <td><input type="checkbox" id="itemIds" th:value="${solutionItem.id}"></td>
                                <td th:text="${solutionItem.id}">123</td>
                                <td th:text="${solutionItem.item.name}">AE86</td>
                                <td><a th:href="@{'/controlpanel/solutionItem/' + ${solutionItem.id} + '/edit'}" th:text="#{edit}">edit</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel panel-default" th:if="${!solution.new}">
                        <div class="panel-heading" th:text="#{details}">details</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="createBy" th:text="#{create-by}">createBy</label>
                                <p class="form-control-static" th:text="${solution.createBy.username}">Askar</p>
                            </div>
                            <div class="form-group">
                                <label for="createDate" th:text="#{create-date}">create-date</label>
                                <p class="form-control-static" th:text="${#calendars.format(solution.createDate, 'yyyy-MM-dd')}">2019-10-23</p>
                            </div>
                            <div class="form-group">
                                <label for="updateBy" th:text="#{update-by}">updateBy</label>
                                <p class="form-control-static" th:text="${solution.updateBy.username}">Askar</p>
                            </div>
                            <div class="form-group">
                                <label for="updateDate" th:text="#{update-date}">update-date</label>
                                <p class="form-control-static" th:text="${#dates.format(solution.updateDate, 'yyyy-MM-dd')}">2019-10-23</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-lg-12">
            <div class="modal fade" id="uploadImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="H2">Upload Image</h4>
                        </div>
                        <form th:action="@{'/controlpanel/solution/' + ${solution.id} + '/uploadImage'}" class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="control-label col-lg-4">Image</label>
                                    <div class="col-lg-8">
                                        <input type="file" name="file"/>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="uploadImage" class="btn btn-primary">Save changes</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="controlpanelfragments :: chooseImgModal"></div>
<div th:replace="controlpanelfragments :: controlpanelfooter"></div>
</body>
</html>

<script type="text/javascript" th:inline="javascript">
    contentId = [[${id}]];
    $(function () {
        yoda.wangEditor.init({
            container: "#editor",
            textareaName: "description",
            /* textareaContent: "${content.description}", */
            uploadUrl: "/api/uploadFile",
            uploadFileName: "file",
            uploadType: "term",
            customCss: {
                "height": "100%",
                "max-height": "250px"
            }
        })
    });

    $('#saveSolution').click(function () {
        $("#description").text(editor.txt.html());
        $("#solutionForm").submit();
    });
</script>