<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yoda.item.persistence.ItemMapper">
	<cache />

	<resultMap id="itemResult" type="Item">
		<id property="id" column="id" />
		<result property="categoryId" column="category_id" />
		<result property="contentId" column="content_id" />
		<result property="createDate" column="create_date" />
		<result property="updateDate" column="update_date" />
		<result property="description" column="description" />
		<result property="hitCounter" column="hit_counter" />
		<result property="level" column="level" />
		<result property="name" column="name" />
		<result property="buyLinks" column="buy_links" />
		<result property="extraFields" column="extra_fields" />
		<result property="imagePath" column="image_path" />
		<result property="price" column="price" />
		<result property="rating" column="rating" />
		<result property="siteId" column="site_id" />
		<association property="brand" column="brand_id" javaType="Brand" resultMap="brandResult" />
		<association property="createBy" column="user_id" javaType="User" resultMap="userResult" />
		<association property="updateBy" column="user_id" javaType="User" resultMap="userResult" columnPrefix="u_" />
	</resultMap>

	<resultMap id="brandResult" type="Brand">
		<id property="brandId" column="brand_id" />
		<result property="name" column="brand_name" />
	</resultMap>

	<resultMap id="userResult" type="User">
		<id property="userId" column="user_id" />
		<result property="username" column="username" />
	</resultMap>

	<sql id="itemColumns">
		i.id AS id,
		i.site_id AS site_id,
		i.content_id AS content_id,
		i.category_id AS category_id,
		i.hit_counter AS hit_counter,
		i.name,
		i.level,
		i.price,
		i.rating,
		i.create_date AS create_date,
		i.update_date AS update_date,
		i.image_path AS image_path,
		i.buy_links AS buy_links,
		i.extra_fields AS extra_fields,
		i.description,
		b.brand_id,
		b.name AS brand_name,
		u.user_id,
		u.username,
		uu.user_id AS u_user_id,
		uu.username AS u_username
	</sql>

	<sql id="itemJoins">
		LEFT OUTER JOIN brand b on i.brand_id = b.brand_id
		LEFT OUTER JOIN user_ u on i.create_by = u.user_id
		LEFT OUTER JOIN user_ uu on i.update_by = uu.user_id
	</sql>

	<select id="getById" resultMap="itemResult">
		SELECT 
			<include refid="itemColumns"/>
		FROM item i
		<include refid="itemJoins"/>
		WHERE i.id = #{id}
	</select>

	<select id="getItemsBySiteId" resultMap="itemResult">
		SELECT 
			<include refid="itemColumns"/>
		FROM item i
		<include refid="itemJoins"/>
		WHERE i.site_id = #{siteId} 
		ORDER BY i.id DESC
	</select>

	<select id="getItemsBySiteIdCount" resultType="java.lang.Integer">
		SELECT count(*) from item i
		WHERE i.site_id = #{siteId} 
	</select>

	<select id="getItemsByContentId" resultMap="itemResult">
		SELECT 
			<include refid="itemColumns"/>
		FROM item i
		<include refid="itemJoins"/>
		WHERE i.content_id = #{contentId}
	</select>

	<select id="getItemsByBrandId" resultMap="itemResult">
		SELECT 
			<include refid="itemColumns"/>
		FROM item i
		<include refid="itemJoins"/>
		WHERE i.brand_id = #{brandId}
	</select>

	<select id="getItemsByContentIdAndBrandId" resultMap="itemResult">
		SELECT 
			<include refid="itemColumns"/>
		FROM item i
		<include refid="itemJoins"/>
		WHERE i.content_id = #{param1} AND i.brand_id = #{param2}
	</select>

	<select id="getItemsTopViewed" resultMap="itemResult">
		SELECT 
			<include refid="itemColumns"/>
		FROM item i
		<include refid="itemJoins"/>
		ORDER BY i.hit_counter DESC LIMIT #{count}
	</select>

	<select id="search" resultType="Item">
		SELECT 
			<include refid="itemColumns"/>
		FROM item i
		<include refid="itemJoins"/>
		<where>
			i.site_id  = #{param1}
		</where>
		order by i.id
	</select>

	<insert id="insert" parameterType="Item" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO item(id, brand_id, category_id, content_id, create_by, create_date, update_by, update_date, hit_counter, description, image_path, buy_links, extra_fields, level, name, price, rating, site_id)
		VALUES(#{id}, #{brand.brandId}, #{categoryId}, #{contentId}, #{createBy.userId}, #{createDate}, #{updateBy.userId}, #{updateDate}, #{hitCounter}, #{description}, #{imagePath}, #{buyLinks}, #{extraFields}, #{level}, #{name}, #{price}, #{rating}, #{siteId})
	</insert>

	<update id="update" parameterType="Item">
		UPDATE item SET
			brand_id = #{brand.brandId},
			category_id = #{categoryId},
			content_id = #{contentId},
			update_by = #{updateBy.userId},
			update_date = #{updateDate},
			description = #{description},
			hit_counter = #{hitCounter},
			image_path = #{imagePath},
			buy_links = #{buyLinks},
			extra_fields = #{extraFields},
			level = #{level},
			name = #{name},
			price = #{price},
			rating = #{rating},
			site_id = #{siteId}
		WHERE id = #{id}
	</update>

	<delete id="delete">
		DELETE FROM item WHERE id = #{id}
	</delete>
</mapper>