<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yoda.pageview.persistence.PageViewDataMapper">
	<cache />

	<sql id="pageViewDataColumns">
		p.id,
		p.user_id AS userId,
		p.username,
		p.user_ip_address AS userIPAddress,
		p.page_type AS pageType,
		p.page_id AS pageId,
		p.page_name AS pageName,
		p.page_url AS pageUrl,
		p.create_date AS createDate
	</sql>

	<select id="count" resultType="java.lang.Integer">
		SELECT count(*) from page_view
	</select>

	<select id="getById" resultType="PageViewData">
		SELECT 
			<include refid="pageViewDataColumns"/>
		FROM page_view p
		WHERE p.id = #{id}
	</select>

	<select id="getPageViewDatas" resultType="PageViewData">
		SELECT 
			<include refid="pageViewDataColumns"/>
		FROM page_view p 
		ORDER BY p.create_date DESC
	</select>

	<select id="getPageViewDatasByIP" resultType="PageViewData">
		SELECT 
			<include refid="pageViewDataColumns"/>
		FROM page_view p 
		WHERE p.ip like CONCAT('%', #{ip}, '%')
		ORDER BY p.create_date DESC
	</select>

	<select id="getPageViewDatasByPage" resultType="PageViewData">
		SELECT 
			<include refid="pageViewDataColumns"/>
		FROM page_view p 
		WHERE p.page_type = #{param1}
		AND p.page_id = #{param2}
		ORDER BY p.create_date DESC
	</select>

	<select id="getPageViewDatasByUserId" resultType="PageViewData">
		SELECT 
			<include refid="pageViewDataColumns"/>
		FROM page_view p 
		WHERE p.user_id = #{userId}
		ORDER BY p.create_date DESC
	</select>

	<insert id="insert" parameterType="PageViewData" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO page_view(user_id, username, user_ip_address, page_type, page_id, page_name, page_url, create_date)
		VALUES(#{userId}, #{username}, #{userIPAddress}, #{pageType}, #{pageId}, #{pageName}, #{pageUrl}, #{createDate})
	</insert>

	<delete id="delete">
		DELETE FROM page_view WHERE id = #{id}
	</delete>
</mapper>