<table border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td>
      #if ($info.itemDefaultImageUrl)
        #if ($info.feature)
          <div style="float: $orientation; padding-right: 1em; width: 200px; height: 200px">
            <a href="$info.itemUrl" class="jc_preview_title_link"><img src="$info.itemDefaultImageUrl&maxsize=200" border="0"></a>
          </div>
        #else
          <div style="float: $orientation; padding-right: 1em; width: 150px; height: 150px">
            <a href="$info.itemUrl" class="jc_preview_title_link"><img src="$info.itemDefaultImageUrl&maxsize=150" border="0"></a>
          </div>
        #end
      #end
      <table border="0" cellspacing="0" cellpadding="0">
    	<tr> 
    	  <td>
    		<a href="$info.itemUrl" class="jc_preview_title_link">$info.itemShortDesc</a>
    		</td>
    	  </tr>
    	  <tr>
	    	<td>
	    	  <span class="jc_preview_text">$info.itemShortDesc1</span>
	    	</td>
    	  </tr>
    	  <tr>
    		<td>
    		  <span class="jc_preview_text">$info.itemPriceDisplay</span>
    		</td>
    	  </tr>
    	  <tr>
    		<td>
    		  <span class="jc_preview_text">$info.itemSpecPriceDisplay</span>
    		</td>
    	  </tr>
    	  <tr>
    		<td>
    		  <br>
    		  #if ($info.outOfStock)
    			<span class="jc_detail_alert">Out of Stock</span>
    		  #else
    			#if ($template.isShoppingCart())
    			  <a href="$componentInfo.contextPath/content/checkout/shoppingCart.do?process=buy&itemId=$info.itemId" border="0" class="jc_addtocart_link">Add to cart</a>
    		    #end
    	      #end
    	  </td>
    	</tr>
      </table>
    </td>
  <tr>
</table>
