<div class="row content-preview-wrapper-row">
	<div class="col-sm-4 content-preview-item">
		<div class="content-preview-image">
			#if ($info.defaultImageUrl)
				#if ($info.feature)
					<a href="$info.contentUrl"><img src="$info.defaultImageUrl" alt="$info.title"></a>
				#else
					<a href="$info.contentUrl"><img src="$info.defaultImageUrl" height="200px" alt="$info.title"></a>
				#end
			#end
		</div>
	</div>
	<div class="col-sm-8 content-preview-item">
		<h3><a href="$info.contentUrl" class="">$info.title</a></h3>
		<p class="text-left">
			<bd>
				<i class="fa fa-eye"></i>
				$info.hitCounter
				&nbsp
				<i class="fa fa-heart"></i>
				<span id="score">
					#if ($info.score > 0)
						+$info.score
					#else
						$info.score
					#end
				</span>
			</bd>
		</p>
		<p>$info.shortDescription</p>
		<p><a class="btn btn-blue" href="$info.contentUrl" role="button">#springMessage('more')</a></p>
	</div>
</div>