<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="3">
        <tr>
          <td colspan="2">
            #foreach ($titleSectionInfo in $sectionInfo.titleSectionInfos)
              <a href="$titleSectionInfo.sectionUrl" class="jc_section_breadcrumb_link">$titleSectionInfo.sectionShortTitle</a>&nbsp;-&nbsp;
            #end
            <span class="jc_section_breadcrumb">$sectionInfo.sectionShortTitle</span>
      
            #if ($sectionInfo.pageNum  == 1)
            <br>
            <br>
            <span class="jc_section_text">$sectionInfo.sectionTitle</span>
            </br>
            <span class="jc_section_text">$sectionInfo.sectionDesc</span>
            #end
            <br>
            <br>
            #parse("section/sectionNavigation.vm")
          </td>
        </tr>
        <tr> 
          #foreach ($sectionData in $sectionInfo.sectionDatas) 
          <td width="50%"> 
            <div style="padding:0em; height: 95%;">
              <br>
              #set ($info = $sectionData)
              #set ($orientation = "top")
              #if ($sectionData.infoType == "content")
                #parse("common/previewContent.vm")
              #else
                #parse("common/previewItem.vm")
              #end
            </div>
          </td>
          #if ($velocityCount % 2 == 0) 
          </tr>
          <tr>
          #end
          #end
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2">
            #parse("section/sectionNavigation.vm")
          </td>
        </tr>
      </table>
    </td>
    <td style="width:10px;" height="100%" valign="top">
      <div class="jc_vertical_line_seperator"></div>
    </td>
    <td style="width:300px" valign="top"> 
      #if ($template.isShoppingCart())
      <div class="jc_horizontal_line_seperator">&nbsp;</div>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr> 
          <td> $template.getShoppingCartSummary() </td>
        </tr>
      </table>
      #end
      <div class="jc_horizontal_line_seperator">&nbsp;</div>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td>
            #set ($count = 0)
            #foreach ($childSectionInfo in $sectionInfo.childSectionInfos)
              #set ($count = $count + 1)
            #end
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td> 
                  <div class="jc_section_menu" style="padding:10px;">
                    <span class="jc_section_header">Categories</span> 
                    <p>
                    #foreach ($childSectionInfo in $sectionInfo.childSectionInfos)
                    <a href="$childSectionInfo.sectionUrl" class="jc_section_link">$childSectionInfo.sectionShortTitle</a><br>
                    #end
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
