#if ($sectionInfo.pageTotal > 0)
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><span class="jc_section_navigation">Page $sectionInfo.pageNum of $sectionInfo.pageTotal</span></td>
    <td align="right">
      <script type="text/javascript">
		function jc_section_sortBy(object) {
			var sortBy = object.options[object.options.selectedIndex].value;
			if (sortBy == '') {
				return;
			}
			var url = '$sectionInfo.sectionUrl/1/' + sortBy;
			document.location.href=url;
		}
		</script>
		<select name="selectName" class="jc_section_sortBy" onchange="jc_section_sortBy(this);">
		<option value="">Sort By</option>
		#if ($sectionInfo.sortBy == "1")
			#set ($s = "selected")
		#else
			#set ($s = "")
		#end
		<option value="1" $s>Price - from highest</option>
		#if ($sectionInfo.sortBy == "2")
			#set ($s = "selected")
		#else
			#set ($s = "")
		#end
		<option value="2" $s>Price - from lowest</option>
		#if ($sectionInfo.sortBy == "4")
			#set ($s = "selected")
		#else
			#set ($s = "")
		#end
		<option value="4" $s>Description - A-Z</option>
		#if ($sectionInfo.sortBy == "3")
			#set ($s = "selected")
		#else
			#set ($s = "")
		#end
		<option value="3" $s>Description - Z-A</option>
      </select>
      &nbsp;
	  #if ($sectionInfo.pageNum > $sectionInfo.pageStart)
	    <a class="jc_section_navigation_link" href="$sectionInfo.sectionUrl/1/$sectionInfo.sortBy">First</a>
	    &nbsp;
	    #set( $previous = $sectionInfo.pageNum - 1 )
	    <a class="jc_section_navigation_link" href="$sectionInfo.sectionUrl/$previous/$sectionInfo.sortBy">&lt;</a>
	  #end
	  #foreach($index in [$sectionInfo.pageStart..$sectionInfo.pageEnd])
	    #if ($sectionInfo.pageNum == $index)
	      <span class="jc_section_navigation_bold">$index</span>
	    #else
	      <a class="jc_section_navigation_link" href="$sectionInfo.sectionUrl/$index/$sectionInfo.sortBy">$index</a>
	    #end
	  #end
	  #if ($sectionInfo.pageNum < $sectionInfo.pageEnd)
	    #set( $last = $sectionInfo.pageNum + 1 )
	    <a class="jc_section_navigation_link" href="$sectionInfo.sectionUrl/$last/$sectionInfo.sortBy">&gt;</a>
	    &nbsp;
	    <a class="jc_section_navigation_link" href="$sectionInfo.sectionUrl/$sectionInfo.pageTotal/$sectionInfo.sortBy">Last</a>
	  #end
    </td>
  </tr>
</table>
<br>
#end
