<html>
	<head>
		<title>$pageInfo.pageTitle</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="Keywords" content="$pageInfo.pageTitle">
		<meta name="Description" content="$siteInfo.siteName">

		<link rel="stylesheet" href='#springUrl("/template/basic/yui/menu/assets/menu.css")' type="text/css" />
		<link rel="stylesheet" href='#springUrl("/template/basic/styles.css")' type="text/css" />

		<!--<script type="text/javascript" src="/template/basic/jcCommon.js"></script>-->
		<script type="text/javascript" src='#springUrl("/template/basic/jcCommon.js")'></script>
		<script type="text/javascript" src='#springUrl("/template/basic/yui/yahoo/yahoo.js")'></script>
		<script type="text/javascript" src='#springUrl("/template/basic/yui/dom/dom.js")'></script>
		<script type="text/javascript" src='#springUrl("/template/basic/yui/event/event.js")'></script>
		<script type="text/javascript" src='#springUrl("/template/basic/yui/container/container_core.js")'></script>
		<script type="text/javascript" src='#springUrl("/template/basic/yui/menu/menu.js")'></script>
		<script type="text/javascript" src='#springUrl("/template/basic/yui/connection/connection.js")'></script>

		<style type="text/css">
		.yuimenuitemlabel,
		.yuimenubaritemlabel {
			font-size:1.2em;
		}
		</style>
	</head>
	<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
		<div align="center" style="background-color: #eeeeee">
			<div style="margin:0pt auto; width:950px;">
				<div align="left">
					$horizontalMenu
				</div>
			</div>
		</div>
		<div align="center">
		<div style="margin:0pt auto; width:950px;">
		<table width="100%" border="0" cellspacing="0" cellpadding="5">
			<tr>
				<td nowrap><font size="36px" face="Arial, Helvetica, sans-serif">$siteInfo.siteName</font> 
				</td>
				<td width="100%" valign="bottom" align="right">
					#parse("search/query.vm")
				</td>
				<td>
					<div align="right">
						<a href="$componentInfo.contextPath/web/home">
							<img src="$componentInfo.contextPath/services/ImageProvider.do?type=S&imageId=$siteInfo.siteId&maxsize=120" border="0">
						</a>
					</div>
				</td>
			</tr>
		</table>
		<hr>
		<br>
		<table width="100%" border="0" cellspacing="0" cellpadding="5">
			<tr>
			<td valign="top">$pageInfo.pageBody</td>
			</tr>
		</table>
		</div>
		</div>
		<br>
		<table class="t1_template_site_footer" style="width:100%; height: 50px; border:0px; padding:3px;">
			<tr> 
			<td> 
			<div align="left">$siteInfo.siteFooter</div>
			</td>
			</tr>
		</table>

		<!--
		<div class="contentFrame" style="background:#springUrl("/template/basic/images/frame_bg.jpg") center 0 repeat;">
			<div class="contentHead">
				<table width="100%" border="0" cellspacing="0" cellpadding="5">
					<tr>
						<td>
							<div align="right">
								<a href="$componentInfo.contextPath/web/home">
									<img src='#springUrl("/controlpanel/content/imageprovider?type=S&imageId=$siteInfo.siteId&maxsize=179")' border="0">
								</a>
							</div>
						</td>
						<td nowrap="nowrap">
							<p class="siteName">
								$siteInfo.siteName
							</p> 
						</td>
						<td width="100%" valign="bottom" align="right">
							<!-- #parse("search/query.vm") -->
						</td>
					</tr>
				</table>
				<div class="navigation">
					<div style="background:#springUrl("/templage/basic/images/nav.jpg") 0 0 repeat-x #55b7c8; border-radius:12px 8px 8px 12px">
						$horizontalMenu
					</div>
				</div>
			</div>
			<br>
			<div class="contentBody">
				<table width="100%" border="0" cellspacing="0" cellpadding="5">
					<tr>
						<td valign="top">$pageInfo.pageBody</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="t1_template_site_footer">$siteInfo.siteFooter</div>
		-->
	</body>
</html>