<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="Keywords" content="$pageInfo.keywords">
		<meta name="Description" content="$siteInfo.siteName">
		<meta property="wb:webmaster" content="a680e5302e30bee6" />

		<title>$pageInfo.pageTitle</title>

		<link rel="icon" type="image/x-icon" href='#springUrl("/resources/images/favicon.ico")' />

		<!--<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
		<link rel="stylesheet" href='#springUrl("/template/basic/bootstrap-3.2.0/css/bootstrap.min.css")' type="text/css" />

		<link rel="stylesheet" href='#springUrl("/template/basic/main.css")' type="text/css" />
		<!--<link rel="stylesheet" href='#springUrl("/resources/css/login.css")' type="text/css" />-->

		<!--<link href="http://fonts.useso.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">-->
		<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

		<!--<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.1.0/css/font-awesome.min.css">-->
		<link href="#springUrl("/template/basic/font-awesome-4.1.0/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
	</head>
	<body id="page-top" class="index">
		$horizontalMenu

		$pageInfo.pageBody

		<footer class="footer-below">
			<p class="small text-muted text-center">$siteInfo.siteFooter</p>
		</footer>

		<!--
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		-->
		<script type="text/javascript" src='#springUrl("/template/basic/jquery-1.11.1.min.js")'></script>
		<script type="text/javascript" src='#springUrl("/template/basic/bootstrap-3.2.0/js/bootstrap.min.js")'></script>

		#if ($siteInfo.googleAnalyticsId != "")
			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', '$siteInfo.googleAnalyticsId', 'auto');
				ga('send', 'pageview');
			</script>
		#end
	</body>
</html>