<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="controlpanelfragments :: controlpanelhead(title=~{::title/text()})">
    <title th:text="#{content}">Content Edit</title>
</head>

<body id="page-top" class="index">
<div th:replace="controlpanelfragments :: controlpanelnavbar"></div>

<div class="container-fluid">
    <div class="section">

        <ol class="breadcrumb">
            <li><a href="/controlpanel/home/home.html" th:href="@{/controlpanel/home}">Administration</a></li>
            <li><a href="/controlpanel/user/list.html" th:href="@{/controlpanel/user}">User Listing</a></li>
            <li>User Maintenance</li>
        </ol>

        <h2 th:text="#{${user.new} ? 'new' : 'edit'}">New</h2>

        <form id="userForm" th:action="@{/controlpanel/user/save}" th:object="${user}" action="#" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}"/>

            <div class="alert alert-success" role="alert" th:if="${globalMessage} != null">
                <a class="panel-close close" data-dismiss="alert">X</a>
                <i class="glyphicon glyphicon-ok"></i> <span th:text="#{saved-success}">Success!</span>
            </div>

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
                <a class="panel-close close" data-dismiss="alert">X</a>
                <p th:each="error : ${#fields.errors('*')}" class="m-0" th:text="${error}">Validation error</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="username" th:text="#{username}">username</label>
                        <input type="text" th:field="*{username}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="password" th:text="#{password}">password</label>
                        <input type="password" th:field="*{password}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="verifyPassword" th:text="#{verify-password}">verifyPassword</label>
                        <input type="password" th:field="*{verifyPassword}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="email" th:text="#{email}">email</label>
                        <input type="text" th:field="*{email}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="phone" th:text="#{phone}">phone</label>
                        <input type="text" th:field="*{phone}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="address" th:text="#{address}">address</label>
                        <input type="text" th:field="*{addressLine1}" class="form-control"/>
                        <input type="text" th:field="*{addressLine2}" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-new thumbnail" style="width: 100px; height: 100px;">
                                <span th:if="${user.profilePhoto} == null">
                                    <img src="../images/defaultAvatar.jpg" th:alt-title="${user.username}" class="img-responsive" />
                                </span>
                                <span th:unless="${user.profilePhoto} == null">
                                    <img src="../images/defaultAvatar.jpg" th:src="${user.profilePhoto}" th:alt-title="${user.username}" class="img-responsive"/>
                                </span>
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail img-rounded" style="width: 100px; height: 100px;"></div>
                            <div>
                                <span class="btn btn-sm btn-default btn-file">
                                    <span class="fileinput-new" th:text="#{select-image}"></span>
                                    <span class="fileinput-exists" th:text="#{change}"></span>
                                    <input type="file" name="photo" value="">
                                </span>
                                <a href="#" th:text="#{delete}" class="btn btn-sm btn-default fileinput-exists" data-dismiss="fileinput">delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" th:text="#{role}">role</label>
                        <p class="form-control-static" th:each="authority : ${user.authorities}" th:text="${authority.authorityName}"></p>
<!--                        <label class="control-label" th:text="#{select-role}">select-role</label>-->
<!--                        <div class="radio">-->
<!--                            <label>-->
<!--                                <input type="radio" th:field="*{userRole}" th:value="${administrator}" />-->
<!--                                <span th:text="#{administrator}"></span>-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="radio">-->
<!--                            <label>-->
<!--                                <input type="radio" th:field="*{userRole}" th:value="${superUser}" />-->
<!--                                <span th:text="#{super-user}"></span>-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="radio">-->
<!--                            <label>-->
<!--                                <input type="radio" th:field="*{userRole}" th:value="${user}" />-->
<!--                                <span th:text="#{user}"></span>-->
<!--                            </label>-->
<!--                        </div>-->
                    </div>
                    <div class="form-group">
                        <label th:text="#{enabled}">enabled</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="enabled" th:checked="${user.enabled}" />
                                Enabled
                            </label>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-sm btn-primary" th:value="#{submit}" role="button">
                    <a class="btn btn-default btn-sm" href="/controlpanel/user/list.html" th:href="@{/controlpanel/user}" th:text="#{cancel}">cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="controlpanelfragments :: controlpanelfooter"></div>
</body>
</html>