#*
#if ($homeInfo.homePageFeatureData)
<div class="section">
	<div class="container">
		<div class="jumbotron">
			#if ($info.defaultImageUrl)
				#if ($info.feature)
					<img class="img-circle" src="$homeInfo.homePageFeatureData.defaultImageUrl" alt="$homeInfo.homePageFeatureData.title" width="300" height="300">
				#else
			<img class="img-circle" src="$homeInfo.homePageFeatureData.defaultImageUrl" alt="$homeInfo.homePageFeatureData.title" width="300" height="300">
				#end
			#end
			<h4>$homeInfo.homePageFeatureData.title</h4>
			<p class="lead">$homeInfo.homePageFeatureData.description</p>
		</div>
	</div>
</div>
#end

<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-12 text-center">
					<form action="" class="form-inline">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Job Key Word">
						</div>
						<div class="form-group">
							<select name="" id="" class="form-control">
								<option>Select Your City</option>
								<option selected="">New york, CA</option>
								<option>New york, CA</option>
								<option>New york, CA</option>
								<option>New york, CA</option>
							</select>
						</div>
						<div class="form-group">
							<select name="" id="" class="form-control">
								<option>Select Your Category</option>
								<option selected="">Graphic Design</option>
								<option>Web Design</option>
								<option>App Design</option>
							</select>
						</div>
						<input type="submit" class="btn btn-blue" value="Search">
					</form>
				</div>
			</div>
		</div>
	</div>
</header>
*#

<div class="section">
	<div class="container">
		<div class="home-main">
			<div class="col-sm-12">
				<div class="home-content">
					<!--<h1 style="text-align: center">选购参考</h1>-->
					<div class="row">
					#foreach ($contentInfo in $homeInfo.homePageDatas)
						<div class="col-sm-3">
							#if ($velocityCount % 2 == 1)
								</tr>
								<tr>
							#end
							#set ($info = $contentInfo)
								#set ($orientation = "left")
								#parse("common/previewContent.vm")
						</div>
					#end
					</div>
				</div>
			</div>
			#if ($homeInfo.page.totalCount > 4)
				<div class="row">
					<div class="col-lg-4 col-lg-offset-4" style="padding: 15px;">
						<button id="more-content" type="button" class="btn btn-default btn-block">#springMessage('more')</button>
					</div>
				</div>
			#end
			<div class="col-sm-12">
				<div class="home-brand">
					<h1 style="text-align: center">#springMessage('top-viewed-brands')</h1>
					<div class="row">
						#foreach ($brand in $topViewedBrands)
							<div class="col-sm-3" style="text-align: -webkit-center;">
								<a href='#springUrl("/brand/")$brand.brandId'>
									<div class="thumbnail" style="width: 150px; height: 150px; display: flex;align-items: center;">
										<img src="${brand.imagePath}" class="img-responsive" alt="${brand.name}">
									</div>
								</a>
								<a href='#springUrl("/brand/")$brand.brandId'>
									<p>$brand.name</p>
								</a>
							</div>
						#end
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="home-item">
					<h1 style="text-align: center">#springMessage('top-viewed-items')</h1>
					<div class="row">
						#foreach ($item in $topViewedItems)
							<div class="col-sm-3" style="text-align: -webkit-center;">
								<a href='#springUrl("/item/")$item.id'>
									<div class="thumbnail" style="width: 150px; height: 150px; display: flex;align-items: center;">
										<img src="${item.imagePath}" class="img-responsive" alt="${item.name}">
									</div>
								</a>
								<a href='#springUrl("/item/")$item.id'>
									<p>$item.name</p>
								</a>
							</div>
						#end
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="home-about">
					<div class="row">
						<div class="col-sm-12">
##						#if ($homeInfo.homePageFeatureData)
							<div class="home-about-inset">
								<h1 style="text-align: center">$homeInfo.homePageFeatureData.title</h1>
								<p>$homeInfo.homePageFeatureData.description</p>
							</div>
##						#end
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<h4>#springMessage('social')</h4>
							<div class="col-sm-2">
								<a href="http://weibo.com/taklip" aria-label="weibo">
									<i class="fa fa-weibo fa-2x fa-fw margin-bottom" aria-hidden="true"></i> taklip太离谱
								</a>
							</div>
							<div class="col-sm-2">
								<i class="fa fa-weixin fa-2x fa-fw margin-bottom"></i> taklip太离谱
								<img src="/yoda/uploads/1/content/qrcode_for_gh_1306e58d35fe_860_L.jpg" width="100%">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src='#springUrl("/template/basic/jquery-1.11.1.min.js")'></script>

<script type="text/javascript">
	$(function(){
		var offset = 4;

		$('#more-content').click(function(){
			$.ajax({
				type: "GET",
				url: '#springUrl("/content/page")',
				data:{
					offset:offset
				},
				contentType: 'text/json,charset=utf-8',
				dataType: "json",
				success: function(data){
					$('.home-content').append('<div class="row">');

					for(var i = 0; i < data.length; i++) {
						var info = data[i];

						var infoScore = info.score;

						if (info.score > 0) {
							infoScore = '+' + info.score;
						}

						$('.home-content').append(
							'<div class="col-sm-3">'
								+'<div class="row content-preview-wrapper-row">'
									+ '<div class="col-sm-12 content-preview-item">'
										+ '<div class="content-preview-image">'
											+ '<a href="' + info.contentUrl + '"><img src="'+ info.defaultImageUrl + '" width="100%" alt="' + info.title + '"></a>'
										+ '</div>'
									+ '</div>'
									+ '<div class="col-sm-12 content-preview-item">'
										+ '<h4><a href="' + info.contentUrl + '" class="">' + info.title + '</a></h4>'
										+ '<p class="text-left">'
											+ '<bd>'
												+ '<i class="fa fa-eye"></i>'
												+ info.hitCounter
												+ '&nbsp'
												+ '<i class="fa fa-heart"></i>'
												+ '<span id="score">'
													+ infoScore
												+ '</span>'
											+ '</bd>'
										+ '</p>'
										+ '<p>' + info.shortDescription + '</p>'
									+ '</div>'
								+ '</div>'
							+ '</div>'
						);
					}

					$('.home-content').append('</div>');
				}
			});
			offset = offset + 4;
		});
	});
</script>