<div class="container pt">
	<div class="row mt">
		<div class="col-lg-8 col-lg-offset-2">
			<h3>#springMessage('contact-us')</h3>
			<hr>
			<p>#springMessage('please-do-not-resubmit')</p>
		</div>
	</div>
	<div class="row mt">
		<div class="col-lg-6 col-lg-offset-2">
			<form role="form" method="POST" action="#springUrl('/feedback/add')">
				#foreach($error in $status.errorMessages)
					<div class="alert alert-danger" role="alert">
						<b>$error</b>
						<br>
					</div>
				#end
				#if ($successMessage)
					<div class="alert alert-success" role="alert">
						<b>$successMessage</b>
					</div>
				#end
				<div class="form-group">
					<input type="text" name="username" class="form-control" id="username" placeholder="#springMessage('username')" required>
					<br>
				</div>
				<div class="form-group">
					<input type="email" name="email" class="form-control" id="email" placeholder="#springMessage('email')" required>
					<br>
				</div>
				<div class="form-group">
					<input type="phone" name="phone" class="form-control" id="phone" placeholder="#springMessage('phone')">
					<br>
				</div>
				<textarea name="description" class="form-control" rows="6" id="description" placeholder="#springMessage('content')"></textarea>
				<br>

				<button type="submit" class="btn btn-primary">#springMessage('submit')</button>

				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			</form>
		</div>
		#foreach($contactUs in $contactUsList)
			<div class="col-lg-4">
				<h3>$contactUs.name</h3>
				<h4>$contactUs.description</h4>
				#if ($contactUs.addressLine1 != "")
					<p>
						$contactUs.addressLine1<br>
						#if ($contactUs.addressLine2 != "")
							$contactUs.addressLine2<br>
						#end
						$contactUs.cityName<br>
						$contactUs.zipCode<br>
					</p>
				#end
				#if ($contactUs.phone != "")
					<p>
						<span class="glyphicon glyphicon-earphone"></span> <abbr title="Phone">Phone</abbr>: $contactUs.phone
					</p>
				#end
				#if ($contactUs.email != "")
					<p>
						<span class="glyphicon glyphicon-envelope"></span> <abbr title="Email">E-mail</abbr>: <a href="mailto:$contactUs.email">$contactUs.email</a>
					</p>
				#end
				#if ($contactUs.description != "")
					<p>
						$contactUs.description
					</p>
				#end
				<ul class="list-unstyled list-inline list-social-icons">
					<li class="tooltip-social facebook-link">
						<a href="#facebook-page" data-toggle="tooltip" data-placement="top" title="Facebook">
							<i class="fa fa-facebook-square fa-2x"></i>
						</a>
					</li>
					<li class="tooltip-social linkedin-link">
						<a href="#linkedin-company-page" data-toggle="tooltip" data-placement="top" title="LinkedIn">
							<i class="fa fa-linkedin-square fa-2x"></i>
						</a>
					</li>
					<li class="tooltip-social twitter-link">
						<a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter">
							<i class="fa fa-twitter-square fa-2x"></i>
						</a>
					</li>
					<li class="tooltip-social google-plus-link">
						<a href="#google-plus-page" data-toggle="tooltip" data-placement="top" title="Google+">
							<i class="fa fa-google-plus-square fa-2x"></i>
						</a>
					</li>
				</ul>
			</div>
		#end
	</div>
</div>

<!--
<div class="container">
	<div class="social text-center">
		<a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
		<a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
		<a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
		<a href="#"><i class="fa fa-github" target="_blank"></i></a>
	</div>
</div>
-->