<div id="content-body">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="content-post">
					<div class="page-header">
						<h2>$contentInfo.title</h2>
						#if ($contentInfo.category)
							<span class="label label-default">$contentInfo.category.name</span>
						#end
						<!--<p>$contentInfo.shortDescription</p>-->
						<p><!-- <img src="assets/img/user.png" width="50px" height="50px"> --> <bd></bd></p>
					</div>
					<div class="nav-tabs-custom">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#tab-should-know">#springMessage('should-know')</a></li>
							#if ($contentInfo.contentBrands.size() > 0)
								<li><a data-toggle="tab" href="#tab-brand">#springMessage('related-brands')</a></li>
							#end
							#if ($contentInfo.items.size() > 0)
								<li><a data-toggle="tab" href="#tab-recommend">#springMessage('recommend-product')</a></li>
							#end
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab-should-know">
								<p class="text-right">
									<bd>
										<i class="glyphicon glyphicon-user"></i>
										<a href='#springUrl("/user/$contentInfo.createBy.userId")'>$contentInfo.createBy.username</a>
										&nbsp
										<i class="glyphicon glyphicon-time"></i>
										$contentInfo.createDate
										&nbsp
										<i class="glyphicon glyphicon-eye-open"></i>
										$contentInfo.hitCounter
									</bd>
								</p>
								<p>$contentInfo.description</p>
								<!-- <p><bt>TAGS: <a href="#">Wordpress</a> - <a href="#">Web Design</a></bt></p> -->
								<div class="content-actions">
									#if ($userLogin && $isUserLike)
										<button id="thumbUp" class="fa fa-thumbs-up"></button>
									#else
										<button id="thumbUp" class="fa fa-thumbs-o-up"></button>
									#end
									#if ($userLogin && $isUserDislike)
										<button id="thumbDown" class="fa fa-thumbs-down"></button>
									#else
										<button id="thumbDown" class="fa fa-thumbs-o-down"></button>
									#end
									<span id="score" class="label label-success">
										#if ($contentInfo.score > 0)
											+$contentInfo.score
										#else
											$contentInfo.score
										#end
									</span>
								</div>
							</div>
							<div class="tab-pane" id="tab-brand">
								#foreach ($contentBrand in $contentInfo.contentBrands)
									<div class="row content-preview-wrapper-row">
										<div class="col-sm-12 content-preview-item">
											<h4>
												<p><a href='#springUrl("/brand/$contentBrand.brandId")'>$contentBrand.brandName</a></p>
											</h4>
											<p>$contentBrand.description</p>
										</div>
									</div>
								#end
							</div>
							<div class="tab-pane" id="tab-recommend">
								#foreach ($item in $contentInfo.items)
									<div class="row content-preview-wrapper-row">
										<div class="col-sm-4 content-preview-item">
											<img src="$item.imagePath" alt="$item.name" style="width: 200px;">
										</div>
										<div class="col-sm-8 content-preview-item">
											<p>#springMessage('name') : $item.name</p>
											<p>#springMessage('brand') : 
												<a href='#springUrl("/brand/$item.brand.brandId")'>$item.brand.name</a>
											</p>
											<p>#springMessage('price') : $item.price</p>
											<p>#springMessage('description') : $item.description</p>
											<div class="content-actions">
												<button id="itemThumbUp$item.id" class="glyphicon glyphicon-thumbs-up" onclick="return itemThumbUp($item.id)"></button>
												<button id="itemThumbDown$item.id" class="glyphicon glyphicon-thumbs-down" onclick="return itemThumbDown($item.id)"></button>
												<span id="rating$item.id" class="label label-success">
													#if ($item.rating > 0)
														+$item.rating
													#else
														$item.rating
													#end
												</span>
											</div>
										</div>
									</div>
								#end
							</div>
						</div>
					</div>
				</div>
				<div class="content-post">
					<h4>#springMessage('comments')($comments.size())</h4>
					<ul class="comments">
						#foreach ($comment in $comments)
							<li class="left clearfix">
								<span class="comments-img pull-left">
									#if ($comment.user.profilePhotoSmall)
										<img src="$comment.user.profilePhotoSmall" alt="$comment.user.username" class="img-rounded profile_photo_img" />
									#else
										<img src='#springUrl("/resources/images/defaultAvatar.png")' alt="$comment.user.username" class="img-rounded profile_photo_img" width="32" height="32" />
									#end
								</span>
								<div class="comments-body clearfix">
									<div class="header">
										<strong class="primary-font">
											<a href='#springUrl("/user/$comment.user.userId")'>$comment.user.username</a>
										</strong>
										<small class="pull-right text-muted label label-danger">
											<i class="icon-time"></i>$date.format("yyyy-MM-dd", $comment.createDate)
										</small>
									</div>
									<p>
										$comment.description
									</p>
								</div>
							</li>
						#end
					</ul>
					#if ($userLogin)
						<div>
							<form role="form" method="POST" action="#springUrl('/comment/new')">
								<div class="form-group">
									<textarea class="form-control" rows="5" id="description" name="description" placeholder='#springMessage("your-comment")' required></textarea>
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-primary pull-right">#springMessage("submit")</button>
								</div>
								<div class="clearfix"></div>

								<input type="hidden" name="contentId" value="$contentInfo.contentId"/>
								<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
							</form>
						</div>
					#else
						<p class="text-muted">
							#springMessage("please-login-to-make-comments")<a href='#springUrl("/user/register")'>#springMessage("register")</a>
						</p>
					#end
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="registerLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title text-center" id="registerLabel">#springMessage("join") taklip</h4>
			</div>
			<form>
				<div class="modal-body">
					<p id="modalError" class="alert alert-danger" role="alert" hidden="true"></p>
					<div class="form-group">
						<input id="username" name="username" type="text" class="form-control" placeholder='#springMessage("username")' required autofocus>
					</div>
					<div class="form-group">
						<input id="email" name="email" type="email" class="form-control" placeholder='#springMessage("email")' required>
					</div>
					<div class="form-group">
						<input id="password" name="password" type="password" class="form-control" placeholder='#springMessage("password")' required>
					</div>
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary btn-block" id="modalRegister">#springMessage('register')</a>

					#springMessage("have-a-account")
					<a class="text-center" href='#springUrl("/login")'>#springMessage('login')</a>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript" src='#springUrl("/template/basic/jquery-1.11.1.min.js")'></script>

<script type="text/javascript">
$(function(){
	$('#modalRegister').click(function(){
		$.ajax({
			type: "POST",
			url: '#springUrl("/user/register/ajax")',
			data:{
				'${_csrf.parameterName}':'${_csrf.token}',
				username:$("#username").val(),
				email:$("#email").val(),
				password:$("#password").val()
			},
			dataType: "json",
			success: function(data){
				var modalError = $('#modalError');
				modalError.hide();

				if (data.error) {
					modalError.show();
					modalError.html(data.error);
				}
				else {
					location.reload();
				}
			}
		});
	});
});
$(function(){
	$('#thumbUp').click(function(){
		if (!$userLogin) {
			$('#loginModal').modal('show')
			return;
		}

		var url = '#springUrl("/content/")$contentInfo.contentId/rate?thumb=';
		var currentUpClass = $('#thumbUp').attr('class');
		var currentDownClass = $('#thumbDown').attr('class');
		var currentUpClassNotActive = (currentUpClass == 'fa fa-thumbs-o-up');
		var currentDownClassNotActive = (currentDownClass == 'fa fa-thumbs-o-down');

		if (currentUpClassNotActive) {
			url = url + 'up';
		}
		else {
			url = url + 'neutral';
		}

		$.ajax({
			type: "POST",
			url: url,
			data:'${_csrf.parameterName}=${_csrf.token}',
			dataType: "json",
			success: function(data){
				var total = data.score;

				$('#score').empty();

				if (total > 0) {
					total = "+" + total;
				}

				$('#score').html(total);
				$('#thumbDown').attr('class', 'fa fa-thumbs-o-down');

				if (currentUpClassNotActive && currentDownClassNotActive) {
					$('#thumbUp').attr('class', 'fa fa-thumbs-up');
				}
				else {
					$('#thumbUp').attr('class', 'fa fa-thumbs-o-up');
				}
			}
		});
	});
});
$(function(){
	$('#thumbDown').click(function(){
		if (!$userLogin) {
			$('#loginModal').modal('show')
			return;
		}

		var url = '#springUrl("/content/")$contentInfo.contentId/rate?thumb=';
		var currentUpClass = $('#thumbUp').attr('class');
		var currentDownClass = $('#thumbDown').attr('class');
		var currentDownClassNotActive = (currentDownClass == 'fa fa-thumbs-o-down');
		var currentUpClassNotActive = (currentUpClass == 'fa fa-thumbs-o-up');

		if (currentDownClassNotActive) {
			url = url + 'down';
		}
		else {
			url = url + 'neutral';
		}

		$.ajax({
			type: "POST",
			url: url,
			data:'${_csrf.parameterName}=${_csrf.token}',
			dataType: "json",
			success: function(data){
				var total = data.score;

				$('#score').empty();

				if (total > 0) {
					total = "+" + total;
				}

				$('#score').html(total);
				$('#thumbUp').attr('class', 'fa fa-thumbs-o-up');

				if (currentDownClassNotActive && currentUpClassNotActive) {
					$('#thumbDown').attr('class', 'fa fa-thumbs-down');
				}
				else {
					$('#thumbDown').attr('class', 'fa fa-thumbs-o-down');
				}
			}
		});
	});
});
function contentRate(score){
	if (!$userLogin) {
		$('#loginModal').modal('show')
		return;
	}
	$.ajax({
		type: "POST",
		url: '#springUrl("/content/")$contentInfo.contentId/rate?score='+score,
		data:'${_csrf.parameterName}=${_csrf.token}',
		dataType: "json",
		success: function(data){
			var total = data.score;

			$('#score').empty();

			if (total > 0) {
				total = "+" + total;
			}

			$('#score').html(total);

			if (score == 1) {
				$('#thumbUp').attr('class', 'fa fa-thumbs-up active');
				$('#thumbUp').attr('onclick', 'cancelContentRate(1)');
			}
			else {
				$('#thumbDown').attr('class', 'fa fa-thumbs-down');
			}
		}
	});
}
function cancelContentRate(score){
	if (!$userLogin) {
		$('#loginModal').modal('show')
		return;
	}
	$.ajax({
		type: "POST",
		url: '#springUrl("/content/")$contentInfo.contentId/rate?score='+score,
		data:'${_csrf.parameterName}=${_csrf.token}',
		dataType: "json",
		success: function(data){
			var total = data.score;

			$('#score').empty();

			if (total > 0) {
				total = "+" + total;
			}

			$('#score').html(total);

			if (score == 1) {
				$('#thumbUp').class('fa fa-thumbs-up');
			}
			else {
				$('#thumbDown').class('fa fa-thumbs-down');
			}
		}
	});
}
function contentThumbDown(score){
	if (!$userLogin) {
		$('#loginModal').modal('show')
		return;
	}
	$.ajax({
		type: "POST",
		url: '#springUrl("/content/")$contentInfo.contentId/score?thumb=down',
		data:'${_csrf.parameterName}=${_csrf.token}', 
		dataType: "json",
		success: function(data){
			var score = data.score;

			$('#score').empty();

			if (score > 0) {
				score = "+" + score;
			}

			$('#score').html(score);
		}
	});
}
function itemThumbUp(id){
	if (!$userLogin) {
		$('#loginModal').modal('show')
		return;
	}
	$.ajax({
		type: "POST",
		url: '#springUrl("/item/")' + id + '/rating?thumb=up',
		data:'${_csrf.parameterName}=${_csrf.token}', 
		dataType: "json",
		success: function(data){
			var rating = data.rating;

			$('#rating' + id).empty();

			if (rating > 0) {
				rating = "+" + rating;
			}

			$('#rating' + id).html(rating);
		}
	});
}

function itemThumbDown(id){
	if (!$userLogin) {
		$('#loginModal').modal('show')
		return;
	}
	$.ajax({
		type: "POST",
		url: '#springUrl("/item/")' + id + '/rating?thumb=down',
		data:'${_csrf.parameterName}=${_csrf.token}', 
		dataType: "json",
		success: function(data){
			var rating = data.rating;

			$('#rating' + id).empty();

			if (rating > 0) {
				rating = "+" + rating;
			}

			$('#rating' + id).html(rating);
		}
	});
}
</script>