<script type="text/javascript" language="JavaScript">
	function focusfield(infocus, control) {
		if (infocus) {
			if (control.value == "Keyword Search") {
				control.value = "";
			}
		}
		else {
			if (control.value == "") {
				control.value = "Keyword Search";
			}
		}
	}
</script>

<form method="post" name="search" action="$componentInfo.contextPath/web/search">
	<input name="keyword" class="jc_search_control" id="search" onfocus="focusfield(true, this);" onblur="focusfield(false, this);" value="Keyword Search" size="20" maxlength="100">
	<a href="javascript:document.search.submit();" class="jc_search_link">Search</a>
</form>