#if ($searchInfo.pageTotal > 0) 
  <div align="center">
  #if ($searchInfo.pageNum > $searchInfo.pageStart)
    &nbsp;
    <a class="jc_search_navigation_link" href="/$componentInfo.contextPath/content/frontend/frontendAction.do?search&query=$searchInfo.query&pageNum=1">First</a>
    &nbsp;
    #set( $previous = $searchInfo.pageNum - 1 )
    <a class="jc_search_navigation_link" href="/$componentInfo.contextPath/content/frontend/frontendAction.do?search&query=$searchInfo.query&pageNum=$previous">&lt;&lt; Previous</a>
  #end
  #foreach($index in [$searchInfo.pageStart..$searchInfo.pageEnd])
    &nbsp;
    #if ($searchInfo.pageNum == $index)
      <span class="jc_search_navigation">$index</span>
    #else
      <a class="jc_search_navigation_link" href="/$componentInfo.contextPath/content/frontend/frontendAction.do?search&query=$searchInfo.query&pageNum=$index">$index</a>
    #end
  #end
  #if ($searchInfo.pageNum < $searchInfo.pageEnd)
    &nbsp;
    #set( $last = $searchInfo.pageNum + 1 )
    <a class="jc_search_navigation_link" href="/$componentInfo.contextPath/content/frontend/frontendAction.do?search&query=$searchInfo.query&pageNum=$last">Next &gt;&gt;</a>
    &nbsp;
    <a class="jc_search_navigation_link" href="/$componentInfo.contextPath/content/frontend/frontendAction.do?search&query=$searchInfo.query&pageNum=$searchInfo.pageTotal">Last</a>
  #end
  </div>
#end
