<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td valign="top">
      <br>
      <span class="jc_search_text">Result for </span>
      <span class="jc_search_title_text"> $searchInfo.query</span>
      <span class="jc_search_text">: </span>
      <span class="jc_search_title_text">$searchInfo.hitsCount</span>
      <span class="jc_search_text">matches</span>
      <br>
      <table width="100%" border="0" cellspacing="0" cellpadding="3">
        #foreach ($searchData in $searchInfo.searchDatas) 
        <tr> 
          <td> 
            <div class="jc_search_box">
              #set ($info = $searchData)
              #set ($orientation = "left")
              #if ($searchData.infoType == "content")
                #parse("common/previewContent.vm")
              #else
                #parse("common/previewItem.vm")
              #end
            </div>
          </td>
        </tr>
        #end
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table>
      #parse("search/searchNavigation.vm")
    </td>
    #if ($template.isShoppingCart())
    <td style="width:10px;" height="100%" valign="top">
      <div class="jc_vertical_line_seperator"></div>
    </td>
    #end
    <td style="width:300px" valign="top"> 
      #if ($template.isShoppingCart() || $$sectionInfo.childCount > 0)
      <div class="jc_horizontal_line_seperator">&nbsp;</div>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr> 
          <td> $template.getShoppingCartSummary() </td>
        </tr>
      </table>
      #end
      <div class="jc_horizontal_line_seperator">&nbsp;</div>
    </td>
  </tr>
</table>
