<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <title th:text="#{title}">Title</title>
</head>

<body id="page-top" class="index">
    <div th:replace="fragments :: navbar"></div>
    <div class="section">
        <div class="container">
            <div class="home-main">
                <!-- <div class="col-sm-12"> -->
                <div id="content-body">
                    <div class="home-content">
                        <div class="row">
                            <!--<h1 style="text-align: center">选购参考</h1>-->
                            <tr th:each="contentInfo : ${homeInfo.homePageDatas}">
                                <div class="col-sm-3">
                                    <div class="content-preview">
                                        <div class="row content-preview-wrapper-row">
                                            <div class="col-sm-12 content-preview-item">
                                                <div class="content-preview-image">
                                                    <a href="/content.html" th:href="@{'/content/' + ${contentInfo.id}}">
                                                        <img src="/images/demoUpload.jpg" th:src="${contentInfo.featuredImage}" th:alt-title="${contentInfo.title}" width="100%" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 content-preview-item">
                                                <h4>
                                                    <a href="/content.html" th:href="@{'/content/' + ${contentInfo.id}}" th:text="${contentInfo.title}">Content Title</a>
                                                </h4>
                                                <p class="text-left">
                                                    <bd>
                                                        <i class="fa fa-eye"></i>
                                                        <span th:text="${contentInfo.hitCounter}">Hit Counter</span>
                                                        &nbsp
                                                        <i class="fa fa-heart"></i>
                                                        <span id="score" >
                                                            <span th:if="${contentInfo.score > 0}" th:text="'+' + ${contentInfo.score}" />
                                                            <span th:unless="${contentInfo.score > 0}" th:text="${contentInfo.score}" />
                                                        </span>
                                                    </bd>
                                                </p>
                                                <p th:text="${contentInfo.shortDescription}">Short Description</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
                <div class="row" th:if="${homeInfo.page.total > 4}">
                    <div class="col-lg-4 col-lg-offset-4" style="padding: 15px;">
                        <button id="more-content" type="button" class="btn btn-default btn-block" th:text="#{more}">More</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="home-brand-all">
                            <h2 style="text-align: center; padding: 10px" th:text="#{top-viewed-brands}">Top Viewed Brands</h2>
                            <div class="row">
                                <div class="col-sm-3" style="text-align: -webkit-center;" th:each="brand : ${topViewedBrands}">
                                    <div class="home-brand">
                                        <a href="/brand/brand.html" th:href="@{'/brand/' + ${brand.id}}">
                                            <div class="thumbnail" style="width: 150px; height: 150px; display: flex;align-items: center;">
                                                <img src="/images/demoUpload.jpg" th:src="${brand.imagePath}" th:alt-title="${brand.name}" class="img-responsive lazy-img" />
                                            </div>
                                        </a>
                                        <a href="/brand/brand.html" th:href="@{'/brand/' + ${brand.id}}">
                                            <p th:text="${brand.name}">Brand Name</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="home-item-all">
                            <h2 style="text-align: center; padding: 10px" th:text="#{top-viewed-items}">Top Viewed Items</h2>
                            <div class="row">
                                <div class="col-sm-3" style="text-align: -webkit-center;" th:each="item : ${topViewedItems}">
                                    <div class="home-item">
                                        <a href="/item/item.html" th:href="@{'/item/' + ${item.Id}}">
                                            <div class="thumbnail" style="width: 150px; height: 150px; display: flex;align-items: center;">
                                                <img src="/images/demoUpload.jpg" th:src="${item.imagePath}" th:alt-title="${item.name}" class="img-responsive lazy-img" />
                                            </div>
                                        </a>
                                        <a href="/item/item.html" th:href="@{'/item/' + ${item.Id}}">
                                            <p th:text="${item.name}">Item Name</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="home-about">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="home-about-inset">
                                        <h1 style="text-align: center" th:text="${homeInfo.homePageFeatureData.title}">HomePageFeatureData Title</h1>
                                        <p>[(${homeInfo.homePageFeatureData.description})]</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 style="text-align: center" th:text="#{social}">Social</h4>
                                    <div class="col-sm-2">
                                        <a href="http://weibo.com/taklip" aria-label="weibo">
                                            <i class="fa fa-weibo fa-2x fa-fw margin-bottom" aria-hidden="true"></i> taklip太离谱
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <i class="fa fa-weixin fa-2x fa-fw margin-bottom"></i> taklip太离谱
                                        <img src="/uploads/1/content/qrcode_for_gh_1306e58d35fe_860_L.jpg" width="100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: footer"></div>
</body>
</html>

<script type='text/javascript' th:inline="javascript">
	$(function(){
	    var offset = 4;
	    var limit = 4;

		$('#more-content').click(function(){
			$.ajax({
				type: "GET",
				url: '/content/page',
				data:{
                    offset: offset,
                    limit: limit
				},
				contentType: 'text/json,charset=utf-8',
				dataType: "json",
				success: function(data){
				    var list = data.list;
					var text = '<div class="row">';
					for(var i = 0; i < list.length; i++) {
						var info = list[i];
						var infoScore = info.score;

						if (info.score > 0) {
							infoScore = '+' + info.score;
						}
						text += '<div class="col-sm-3">'
							+'<div class="content-preview">'
							+'<div class="row content-preview-wrapper-row">'
								+ '<div class="col-sm-12 content-preview-item">'
									+ '<div class="content-preview-image">'
										+ '<a href="/content/' + info.id + '"><img src="'+ info.featuredImage + '" width="100%" alt="' + info.title + '"></a>'
									+ '</div>'
								+ '</div>'
								+ '<div class="col-sm-12 content-preview-item">'
									+ '<h4><a href="/content/' + info.id + '" class="">' + info.title + '</a></h4>'
									+ '<p class="text-left">'
										+ '<bd>'
											+ '<i class="fa fa-eye"></i>'
											+ info.hitCounter
											+ '&nbsp'
											+ '<i class="fa fa-heart"></i>'
											+ '<span id="score">'
												+ infoScore
											+ '</span>'
										+ '</bd>'
									+ '</p>'
									+ '<p>' + info.shortDescription + '</p>'
								+ '</div>'
							+ '</div>'
						+ '</div>'
					+ '</div>';
					}

					text += '</div>';

					$('.home-content').append(text);
				}
			});
            offset = offset + 4;
		});
	});
</script>