<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td> 
      <div class="jc_syndication_box">
	  <table width="0" border="0" cellspacing="0">
	    <tr>
	      <td style="padding: 5px 10px 5px 10px" class="jc_syndication_header">News feed</td>
        </tr>
        #foreach ($syndicationInfo in $syndications)
	    <tr>
	      <td style="padding: 3px 5px 3px 5px" >
	        <div style="padding: 2px 5px 2px 5px">
	          <a href="$syndicationInfo.link" target="_blank" class="jc_syndication_link">
	            $syndicationInfo.title
              </a>
              <br>
              <div class="jc_syndication_text" id="jc_syndication_container">$syndicationInfo.description</div>
              <div class="jc_syndication_date">$syndicationInfo.publishDate<div>
            </div>
          </td>
        </tr>
        #end
	  </table>
      </div>
    </td>
  </tr>
</table>


