<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taklip.yoda.mapper.BrandMapper">
	<cache />

	<sql id="brandColumns">
		b.brand_id AS brandId,
		b.company,
		b.country,
		b.name,
		b.description,
		b.found_date AS foundDate,
		b.kind,
		b.hit_counter AS hitCounter,
		b.image_path AS imagePath,
		b.score,
		b.create_by AS "createBy.userId",
		b.create_date AS createDate,
		b.update_by AS "updateBy.userId",
		b.update_date AS updateDate
	</sql>

	<select id="count" resultType="java.lang.Integer">
		SELECT count(*) from brand
	</select>

	<select id="getById" resultType="Brand">
		SELECT 
			<include refid="brandColumns"/>
		FROM brand b
		WHERE b.brand_id = #{brandId}
	</select>

	<select id="getBrands" resultType="Brand">
		SELECT 
			<include refid="brandColumns"/>
		FROM brand b 
		ORDER BY b.brand_id DESC
	</select>

	<select id="getBrandsTopViewed" resultType="Brand">
		SELECT 
			<include refid="brandColumns"/>
		FROM brand b 
		ORDER BY b.hit_counter DESC LIMIT #{count}
	</select>

	<insert id="insert" parameterType="Brand" useGeneratedKeys="true" keyProperty="brandId">
		INSERT INTO brand(company, country, name, description, found_date, hit_counter, kind, image_path, score, create_by, create_date, update_by, update_date)
		VALUES(#{company}, #{country}, #{name}, #{description}, #{foundDate}, #{hitCounter}, #{kind}, #{imagePath}, #{score}, #{createBy.userId}, #{createDate}, #{updateBy.userId}, #{updateDate})
	</insert>

	<update id="update" parameterType="Brand">
		UPDATE brand SET
			company = #{company},
			country = #{country},
			name = #{name},
			description = #{description},
			found_date = #{foundDate},
			hit_counter = #{hitCounter},
			kind = #{kind},
			image_path = #{imagePath},
			score = #{score},
			update_by = #{updateBy.userId},
			update_date = #{updateDate}
		WHERE brand_id = #{brandId}
	</update>

	<delete id="delete">
		DELETE FROM brand WHERE brand_id = #{brandId}
	</delete>
</mapper>