<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taklip.yoda.mapper.CategoryMapper">
	<cache />

	<sql id="categoryColumns">
		c.id AS id,
		c.name,
		c.parent,
		c.description,
		c.create_by AS "createBy.id",
		c.create_date AS createDate,
		c.update_by AS "updateBy.id",
		c.update_date AS updateDate
	</sql>

	<select id="getById" resultType="Category">
		SELECT 
			<include refid="categoryColumns"/>
		FROM category c
		WHERE c.id = #{id}
	</select>

	<select id="getCategories" resultType="Category">
		SELECT 
			<include refid="categoryColumns"/>
		FROM category c
		ORDER BY c.id DESC
	</select>

	<insert id="insert" parameterType="Category" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO category(id, name, parent, description, create_by, create_date, update_by, update_date)
		VALUES(#{id}, #{name}, #{parent}, #{description}, #{createBy.id}, #{createDate}, #{updateBy.id}, #{updateDate})
	</insert>

	<update id="update" parameterType="Category">
		UPDATE category SET
			name = #{name},
			parent = #{parent},
			description = #{description},
			update_by = #{updateBy.id},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>

	<delete id="delete">
		DELETE FROM category WHERE id = #{id}
	</delete>
</mapper>