<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taklip.yoda.mapper.HomePageMapper">
	<cache />

	<sql id="homePageColumns">
		h.home_page_id AS homePageId,
		h.site_id AS siteId,
		h.seq_num AS seqNum,
		h.feature_data AS featureData,
		h.content_id AS "content.contentId",
		h.create_by AS "createBy.userId",
		h.create_date AS createDate,
		h.update_by AS "updateBy.userId",
		h.update_date AS updateDate
	</sql>

	<select id="getById" resultType="HomePage">
		SELECT 
			<include refid="homePageColumns"/>
		FROM home_page h
		WHERE h.home_page_id = #{id}
	</select>

	<select id="getBySiteId" resultType="HomePage">
		SELECT 
			<include refid="homePageColumns"/>
		FROM home_page h
		WHERE h.site_id = #{siteId}
	</select>

	<select id="getBySiteIdOrderBySeqNum" resultType="HomePage">
		SELECT 
			<include refid="homePageColumns"/>
		FROM home_page h
		WHERE h.site_id = #{siteId}
		ORDER BY h.seq_num
	</select>

	<select id="getBySiteIdAndFeatureData" resultType="HomePage">
		SELECT 
			<include refid="homePageColumns"/>
		FROM home_page h
		WHERE h.site_id = #{param1}
		AND h.feature_data = #{param2}
		ORDER BY update_date DESC
	</select>

	<select id="getBySiteIdAndFeatureDataCount" resultType="java.lang.Integer">
		SELECT count(*) from home_page h
		WHERE h.site_id = #{param1}
		AND h.feature_data = #{param2}
	</select>

	<insert id="insert" parameterType="HomePage" useGeneratedKeys="true" keyProperty="homePageId">
		INSERT INTO home_page(home_page_id, site_id, seq_num, feature_data, content_id, create_by, create_date, update_by, update_date)
		VALUES(#{homePageId}, #{siteId}, #{seqNum}, #{featureData}, #{content.contentId}, #{createBy.userId}, #{createDate}, #{updateBy.userId}, #{updateDate})
	</insert>

	<update id="update" parameterType="HomePage">
		UPDATE home_page SET
			seq_num = #{seqNum},
			feature_data = #{featureData},
			update_by = #{updateBy.userId},
			update_date = #{updateDate}
		WHERE home_page_id = #{homePageId}
	</update>

	<delete id="delete">
		DELETE FROM home_page WHERE home_page_id = #{homePageId}
	</delete>
</mapper>