<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taklip.yoda.mapper.PostMapper">
    <cache/>

    <sql id="postColumns">
		id,
		user_id AS userId,
		description,
		create_by AS "createBy.id",
		create_date AS createDate,
		update_by AS "updateBy.id",
		update_date AS updateDate
	</sql>

    <select id="getById" parameterType="long" resultType="Post">
        SELECT
        <include refid="postColumns"/>
        FROM post
        WHERE id = #{id}
    </select>

    <select id="getPostsByUser" resultType="Post">
        SELECT
        <include refid="postColumns"/>
        FROM post
        WHERE user_id = #{userId}
        ORDER BY update_date DESC
    </select>

    <select id="getPostCountByUser" resultType="java.lang.Integer">
		SELECT count(*) from post
		WHERE user_id = #{userId}
	</select>

    <insert id="insert" parameterType="Post" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO post(id, user_id, description, create_by, create_date, update_by, update_date)
		VALUES(#{id}, #{userId}, #{description}, #{createBy.id}, #{createDate}, #{updateBy.id}, #{updateDate})
	</insert>

    <update id="update" parameterType="Post">
		UPDATE post SET
			description = #{description},
			update_by = #{updateBy.id},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>

    <delete id="delete">
		DELETE FROM post WHERE id = #{id}
	</delete>
</mapper>