<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taklip.yoda.mapper.SiteMapper">
	<cache />

	<sql id="siteColumns">
		s.site_id AS siteId,
		s.site_name AS siteName,
		s.logo_path AS logoPath,
		s.logo_content_type AS logoContentType,
		s.active AS active,
		s.create_by AS "createBy.userId",
		s.create_date AS createDate,
		s.update_by AS "updateBy.userId",
		s.update_date AS updateDate,
		s.public_port AS publicPort,
		s.secure_port AS securePort,
		s.domain_name AS domainName,
		s.google_analytics_id AS googleAnalyticsId,
		s.secure_connection_enabled AS secureConnectionEnabled,
		s.footer AS footer,
		s.listing_page_size AS listingPageSize,
		s.section_page_size AS sectionPageSize,
		s.theme_id AS themeId,
		s.title
	</sql>

	<select id="getById" resultType="Site">
		SELECT 
			<include refid="siteColumns"/>
		FROM site s
		WHERE s.site_id = #{id}
	</select>

	<select id="getSites" resultType="Site">
		SELECT
			<include refid="siteColumns"/>
		FROM site s
		ORDER BY s.site_id DESC
	</select>

	<select id="search" resultType="Site">
		SELECT
			<include refid="siteColumns"/>
		FROM site s
		<where>
			<if test="site.siteId != null and site.siteId != ''">
				s.site_id  = #{site.siteId}
			</if>
			<if test="site.siteName != null and site.siteName != ''">
				AND s.site_name like CONCAT('%', #{site.siteName}, '%')
			</if>
			<if test="site.active != null and site.active != '' and site.active != '*'">
				AND s.active = #{site.active}
			</if>
		</where>
		order by s.site_id
	</select>

	<insert id="insert" parameterType="Site" useGeneratedKeys="true" keyProperty="siteId">
		INSERT INTO site(site_id, site_name, logo_path, logo_content_type, active, create_by, create_date, update_by, update_date, public_port, secure_port, domain_name, google_analytics_id, secure_connection_enabled, footer, listing_page_size, section_page_size, theme_id, title)
		VALUES(#{siteId}, #{siteName}, #{logoPath}, #{logoContentType}, #{active}, #{createBy.userId}, #{createDate}, #{updateBy.userId}, #{updateDate}, #{publicPort}, #{securePort}, #{domainName}, #{googleAnalyticsId}, #{secureConnectionEnabled}, #{footer}, #{listingPageSize}, #{sectionPageSize}, #{themeId}, #{title})
	</insert>

	<update id="update" parameterType="Site">
		UPDATE site SET
			site_name = #{siteName},
			logo_path = #{logoPath},
			active = #{active},
			update_by = #{updateBy.userId},
			update_date = #{updateDate},
			public_port = #{publicPort},
			secure_port = #{securePort},
			domain_name = #{domainName},
			google_analytics_id = #{googleAnalyticsId},
			secure_connection_enabled = #{secureConnectionEnabled},
			footer = #{footer},
			listing_page_size = #{listingPageSize},
			section_page_size = #{sectionPageSize},
			theme_id = #{themeId},
			title = #{title}
		WHERE site_id = #{siteId}
	</update>

	<delete id="delete">
		DELETE FROM site WHERE site_id = #{siteId}
	</delete>
</mapper>