<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taklip.yoda.mapper.UserAuthorityMapper">
	<cache />

	<sql id="userAuthorityColumns">
		au.id AS id,
		au.user_id AS userId,
		au.authority_name AS authorityName
	</sql>

	<select id="getById" resultType="UserAuthority">
		SELECT 
			<include refid="userAuthorityColumns"/>
		FROM authority au
		WHERE au.id = #{id}
	</select>

	<insert id="insert" parameterType="UserAuthority" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO authority(id, user_id, authority_name)
		VALUES(#{id}, #{userId}, #{authorityName})
	</insert>

	<delete id="delete">
		DELETE FROM authority WHERE id = #{id}
	</delete>
</mapper>