<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taklip.yoda.mapper.UserFolloweeMapper">
    <cache/>

    <sql id="userFolloweeColumns">
		id,
		user_id AS userId,
		followee_id AS followeeId,
		create_date AS createDate
	</sql>

    <select id="getById" parameterType="long" resultType="UserFollowee">
        SELECT
        <include refid="userFolloweeColumns"/>
        FROM user_followee
        WHERE id = #{id}
    </select>

    <select id="getUserFollowers" resultType="UserFollower">
        SELECT
        <include refid="userFolloweeColumns"/>
        FROM user_followee
        WHERE user_id = #{userId}
        ORDER BY create_date DESC
    </select>

    <select id="getUserFolloweeCount" resultType="java.lang.Integer">
		SELECT count(*) from user_followee
		WHERE user_id = #{userId}
	</select>

    <select id="isFollowing" resultType="UserFollower">
        SELECT
        <include refid="userFolloweeColumns"/>
        FROM user_followee
        WHERE user_id = #{userId} AND followee_id = #{followeeId}
        ORDER BY create_date DESC
    </select>

    <insert id="insert" parameterType="UserFollowee" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO user_followee(id, user_id, followee_id, create_date)
		VALUES(#{id}, #{userId}, #{followeeId}, #{createDate})
	</insert>

    <delete id="delete">
		DELETE FROM user_followee
		WHERE user_id = #{userId} AND followee_id = #{followeeId}
	</delete>
</mapper>