<script type="text/javascript">
var jc_poll_callback = {
	success: function(o) {
		var div = document.getElementById('jc_poll');
		var object = eval('(' + o.responseText + ')');
		var line = '';
		if (object.pollDetails) {
			line += '<span class="jc_poll_topic">' + object.pollTopic + '</span><br><br>';
			line += '<form name="jc_poll_form" method="post" action="" style="display: inline">';
			line += '<input type="hidden" name="pollHeaderId" value="' + object.pollHeaderId + '">';
			for (i = 0; i < object.pollDetails.length; i++) {
				line += '<input type="radio" name="pollOption" value="' + object.pollDetails[i].pollDetailId + '"><span class="jc_poll_option">&nbsp;' +  object.pollDetails[i].pollOption + '</span><br>';
			}
			line += '<br>';
			line += '<a href="javascript:void(null);" class="jc_poll_button" onclick="javascript:jc_poll_update();return false;">Vote</a>';
			line += '&nbsp;';
			line += '<a href="javascript:void(null);" class="jc_poll_link" onclick="javascript:jc_poll_update();return false;">or see results</a>';
			line += '</form>';
		}
		div.innerHTML = line;
	},
	failure: function(o) {
	}
}
var transaction = YAHOO.util.Connect.asyncRequest('GET', '$componentInfo.contextPath/content/poll/pollAction.do?process=get', jc_poll_callback);

function jc_poll_update() {
 	var pollHeaderId = document.jc_poll_form.pollHeaderId.value;
	var pollDetailId = '';
	for (i = 0; i < document.jc_poll_form.pollOption.length; i++) {
		if (document.jc_poll_form.pollOption[i].checked) {
			pollDetailId = jc_poll_form.pollOption[i].value;
		}
	}
	var url = '$componentInfo.contextPath/content/poll/pollAction.do?process=update&pollHeaderId=' + pollHeaderId + '&pollDetailId=' + pollDetailId;
	var response = YAHOO.util.Connect.asyncRequest('GET', url, jc_poll_result_callback);
}

var jc_poll_result_callback = {
	success: function(o) {
		var div = document.getElementById('jc_poll');
		var object = eval('(' + o.responseText + ')');
		var line = '';
		line += '<span class="jc_poll_topic">' + object.pollTopic + '</span><br>';
		line += '<br>';
		line += '<table width="100%" border="0" cellpadding="0" cellspacing="0">';
		for (i = 0; i < object.pollDetails.length; i++) {
			line += '<tr>';
			line += '<td><span class="jc_poll_option">' + object.pollDetails[i].pollOption + '</span></td>';
			line += '<td align="right"><span class="jc_poll_option">' + object.pollDetails[i].percentage + '</span></td>';
			line += '</tr>';
		}
		line += '</table>'
		line += '<br>';
		line += '<span class="jc_poll_fine_print">This is not a scientific poll</span>';
		div.innerHTML = line;
	},
	failure: function(o) {
	}
}

</script>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td> 
      <div class="jc_poll_box">
	  <table width="0" border="0" cellspacing="0">
	    <tr>
	      <td style="padding: 5px 10px 5px 10px" class="jc_poll_header">Quick Poll</td>
	    </tr>
	    <tr>
	      <td id="jc_poll" style="padding: 5px 10px 5px 10px;"></td>
	    </tr>
	  </table>
      </div>
    </td>
  </tr>
</table>