<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="controlpanelfragments :: controlpanelhead(title=~{::title/text()})">
    <title th:text="#{brand}">Brand Edit</title>
</head>

<body id="page-top" class="index">
<div th:replace="controlpanelfragments :: controlpanelnavbar"></div>

<div class="container-fluid">
    <div class="section">
        <ol class="breadcrumb">
            <li><a href="/controlpanel/home/home.html" th:href="@{/controlpanel/home}">Administration</a></li>
            <li><a href="/controlpanel/brand/list.html" th:href="@{/controlpanel/brand}">Brand Listing</a></li>
            <li>Brand Maintenance</li>
        </ol>
        <form id="brandForm" th:action="@{/controlpanel/brand/save}" th:object="${brand}" action="#" method="post">
            <input type="hidden" th:field="*{id}" th:if="${brand.id != null && brand.id > 0}"/>

            <div class="alert alert-success" role="alert" th:if="${globalMessage} != null">
                <a class="panel-close close" data-dismiss="alert">X</a>
                <i class="glyphicon glyphicon-ok"></i> <span th:text="#{saved-success}">Success!</span>
            </div>

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
                <a class="panel-close close" data-dismiss="alert">X</a>
                <p th:each="error : ${#fields.errors('*')}" class="m-0" th:text="${error}">Validation error</p>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="name" th:text="#{name}">Title</label>
                        <input type="text" th:field="*{name}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="company" th:text="#{company}">company</label>
                        <input type="text" th:field="*{company}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="kind" th:text="#{kind}">kind</label>
                        <input type="text" th:field="*{kind}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="country" th:text="#{country}">country</label>
                        <input type="text" th:field="*{country}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="foundDate" th:text="#{founded-date}">founded-date</label>
                        <div class="input-daterange input-group" id="datepicker">
                            <input type="text" th:field="*{foundDate}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" th:text="#{text}">text</label>
                        <textarea th:field="*{description}" class="form-control" value="" display="none" style="display: none"></textarea>
                        <div id="editor" style="width: 100%;height: 300px;">
                        </div>
                    </div>
                    <div class="form-actions">
                        <input id="saveBrand" class="btn btn-sm btn-primary" th:value="#{submit}" role="button">
                        <a class="btn btn-default btn-sm" href="/controlpanel/brand/list.html" th:href="@{/controlpanel/brand}" th:text="#{cancel}">cancel</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default" th:if="${brand.id != null && brand.id > 0}">
                        <div class="panel-heading">Images</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-lg-4">Image Upload</label>
                                <div class="col-lg-8">
                                    <div class="thumbnail" style="max-width: 200px; max-height: 200px; line-height: 20px;" th:if="${brand.imagePath} != null">
                                        <img src="/images/demoUpload.jpg" th:src="${brand.imagePath}" th:alt-title=".."/>
                                    </div>
                                    <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#uploadImageModal">Select image</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-lg-12">
            <div class="modal fade" id="uploadImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="H2">Upload Image</h4>
                        </div>
                        <form class="form-horizontal" th:action="@{'/controlpanel/brand/' + ${brand.id} + '/uploadImage'}" action="#" method="post" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="control-label col-lg-4">Image</label>
                                    <div class="col-lg-8">
                                        <input type="file" name="file"/>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="uploadImage" class="btn btn-primary">Save changes</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="controlpanelfragments :: chooseImgModal"></div>
<div th:replace="controlpanelfragments :: controlpanelfooter"></div>
</body>
</html>

<script type="text/javascript" th:inline="javascript">
    contentId = [[${id}]];
    $(function () {
        yoda.wangEditor.init({
            container: "#editor",
            textareaName: "description",
            /* textareaContent: "${content.description}", */
            uploadUrl: "/api/uploadFile",
            uploadFileName: "file",
            uploadType: "brand",
            customCss: {
                "height": "100%",
                "max-height": "250px"
            }
        })
    });

    $('#saveBrand').click(function () {
        $("#description").text(editor.txt.html());
        $("#brandForm").submit();
    });

    $('.input-daterange').datepicker({
        format: "yyyy-mm-dd",
        weekStart: 1,
        language: "zh-CN",
        todayHighlight: true
    });
</script>