<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <div class="jc_shopping_cart_summary_box">
	    <table width="100%" border="0" cellspacing="0">
          <tr> 
            <td style="padding: 5px 10px 5px 10px">
	          <a href="$componentInfo.contextPath/content/checkout/shoppingCart.do?process=start" class="jc_shopping_cart_summary_link">My Cart</a>
	        </td>
          </tr>
  	      <tr> 
	        <td style="padding: 5px 10px 5px 10px" class="jc_shopping_cart_summary_text">
	          Items in your cart:
	        </td>
	      </tr>
	      #set ($size = 0)
          #foreach ($cartItem in $shoppingCartSummaryInfo.cartItems)
          <tr> 
            <td style="padding: 5px 10px 5px 10px" class="jc_shopping_cart_summary_text" nowrap align="center">
            <img src="$cartItem.itemDefaultImageUrl&maxsize=50">
            </td>
          </tr>
          <tr>
            <td style="padding: 5px 10px 5px 10px" class="jc_shopping_cart_summary_text">
	    	  $cartItem.itemShortDesc
	        </td>
	      </tr>
	      <tr>
            <td style="padding: 5px 10px 5px 10px" class="jc_shopping_cart_summary_text" nowrap>
              Quantity: $cartItem.itemOrderedQty <br>
              Item Price: $cartItem.itemPrice
	        </td>
	      </tr>
	      #set ($size = $velocityCount)
	      #end
	      <tr>
            <td></td>
	      </tr>
	      #if ($size > 0)
	      <tr>
            <td><hr></td>
	      </tr>
	      #end
	      <tr>
            <td style="padding: 5px 10px 5px 10px" class="jc_shopping_cart_summary_text" nowrap>
              Item Total: $shoppingCartSummaryInfo.itemCount <br>
              Est. Total: $shoppingCartSummaryInfo.priceSubTotal
	        </td>
	      </tr>
	    </table>
      </div>
    </td>
  </tr>
</table>