body {
	background-color: #ffffff;
	color: #2c3e50;
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
	font-size: 13px;
	line-height: 1.42857143;
	overflow-x: hidden;
}

body>.container {
	padding: 60px 15px 0;
}

a {
	color: #3C8DBC;
}

a:hover, a:focus, a:active, a.active {
	outline: 0;
	color: #3C8DBC;
	text-decoration: none;
}

/* navigation bar */
.navbar {
	margin-bottom: 0px;
}

.navbar .navbar-nav {
	letter-spacing: 1px;
}

.navbar-static-top {
	-webkit-transition: padding .3s;
	-moz-transition: padding .3s;
	transition: padding .3s;
}

.navbar-default {
	background-color: #2c3e50;
	border: 0;
	border-color:transparent;
}

.navbar-default .navbar-toggle {
	border-color: #1a242f;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-brand {
	font-size: 2em;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.navbar-brand b {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	/* background: rgba(0, 0, 0, 0.1); */
	background-color: #1b2d3f;
	color: #ffffff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background-color: #1b2d3f;
	color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	background-color:transparent;
	color: #ffffff;
	/* background-color: #3c8dbc;
	color: #0D5E8D; */
}

.section {
	padding: 20px 20px;
	/* transform: translateZ(0px); */
}

.nav-tabs-custom {
	margin-bottom: 20px;
}

.nav-tabs-custom>.tab-content {
	padding: 10px;
}

/* Footer */
.footer {
	/* padding: 25px 0; */
	/* position: absolute; */
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}
.container .text-muted {
	margin: 20px 0;
}

/* Pagination */
.pagination-info {
	padding-top: 8px;
}

.pagination-section {
	float: right;
}

.pagination-section .pagination-pages ul {
	margin: 0;
	padding: 0
}

.pagination-section .pagination-nav {
	line-height: 36px;
}

.pagination-section .pagination-pages, .pagination-go-button, .pagination-go-input, .pagination-nav {
	float: left;
	margin-left: 10px;
}

.pagination-section .pagination-go-input>input[type=text] {
	width: 50px;
}

.chooseImgModal, #chooseImgModal {
	z-index: 9999;
}

.chooseImgModal .material-status, #chooseImgModal .material-status {
	line-height: 3;
	color: #333
}

.chooseImgModal .material-box::-webkit-scrollbar {
	margin-right: 2px;
	width: 5px;
}

.chooseImgModal .material-box::-webkit-scrollbar-thumb {
	width: 5px;
	border: 0 solid #000;
	background: #cbcbcb;
}

.chooseImgModal .material-box::-webkit-scrollbar-track-piece {
	border-left: 0 solid #d2d2d2;
	background-color: #f5f5f5;
}

.thumbnail.selected .selected-mask, .thumbnail:hover  .selected-mask, .material-item.selected .selected-mask {
    opacity: 1;
}
.thumbnail .selected-mask, .material-item .selected-mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.thumbnail .selected-mask.mask-xs, .material-item .selected-mask.mask-xs {
    width: 95px;
    height: 95px;
}
.thumbnail .selected-mask [class^="icheckbox"] {
    float: left!important;
}
.thumbnail .selected-mask .inner, .material-item .selected-mask .inner {
    width: 100%;
    height: 100%;
    -moz-opacity: .6;
    -khtml-opacity: .6;
    opacity: .6;
    background-color: #000;
    filter: alpha(opacity=60);
}
.thumbnail .selected-mask .icon, .material-item .selected-mask .icon {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent url(/assets/images/selected_mask.png) no-repeat 0 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    background-position: 50% 50%;
}

.material-box {
	/* max-height: 325px;
	min-height: 215px; */
	max-height: 500px;
	min-height: 450px;
	/*height: 250px;*/
	overflow-y: scroll;
}

.material-box ul li.material-item {
	border: 1px solid #ddd;
	/*-webkit-transition: border .2s ease-in-out;*/
	/*-o-transition: border .2s ease-in-out;*/
	/*transition: border .2s ease-in-out;*/
	float: left;
	width: 96px;
	height: 96px;
	margin: 7px;
}

.material-box ul li.material-item:hover {
	-moz-box-shadow: 2px 2px 5px #cbd0d6;
	-webkit-box-shadow: 2px 2px 5px #cbd0d6;
	box-shadow: 2px 2px 5px #cbd0d6;
}

.material-box ul li.material-item.active {
	-moz-box-shadow: 2px 2px 5px #cbd0d6;
	-webkit-box-shadow: 2px 2px 5px #cbd0d6;
	box-shadow: 2px 2px 5px #cbd0d6;
}

.material-box ul li.material-item img {
	/*transition: all .2s linear;*/
	width: 100%;
	max-height: 95px;
}

.material-box ul li.material-item:hover img {
	/*transform: scale(1.1);*/
	
}