<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td valign="top">
      <div style="padding: 5px;">
        #if ($itemInfo.itemDefaultImageUrl)
        <div style="float: left; padding-right: 5px; padding-bottom: 5px">
          <p>
          <div style="padding-right: 1em; width:200px; text-align: center; ">
            <img name="jc_image_preview" src="$itemInfo.itemDefaultImageUrl&maxsize=200">
          </div>
          </p>
          <div class="jc_images_preview_slide_show" style="width: 200px">
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
              <tr> 
                <td>
                  #if ($itemInfo.itemDefaultImageUrl)
                  <a href="#" onclick="javascript:setPreviewImage('jc_image_1','$itemInfo.itemDefaultImageUrl&maxsize=200');return false;"><img name="jc_image_1" class="jc_image_normal" src="$itemInfo.itemDefaultImageUrl&maxsize=70" border="0"></a>
                  #end
                </td>
                #set( $count = 2 )
                #foreach( $itemImageUrl in $itemInfo.itemImageUrls )
                <td><a href="#" onclick="javascript:setPreviewImage('jc_image_$count','$itemImageUrl&maxsize=200');return false;"><img name="jc_image_$count" class="jc_image_normal" src="$itemImageUrl&maxsize=70" border="0"></a></td>
                #set( $count = $count + 1 )
                #end
              </tr>
            </table>
          </div>
        </div>
        <br>
        #end
        <span class="jc_detail_title_text">$itemInfo.itemShortDesc</span><br>
        <span class="jc_detail_text">Item Number - $itemInfo.itemNum</span><br>
        <span class="jc_detail_text">$itemInfo.itemShortDesc1</span><br><br>
        <span class="jc_detail_price">$itemInfo.itemPriceDisplay</span><br><br>
        #if ($itemInfo.itemSpecPriceDisplay != "")
          <span class="jc_detail_special_price">$itemInfo.itemSpecPriceDisplay</span><br><br>
        #end
        #if ($itemInfo.outOfStock)
          <span class="jc_detail_alert">Out of Stock</span>
        #else
          #if ($template.isShoppingCart())
            <a href="$componentInfo.contextPath/content/checkout/shoppingCart.do?process=buy&itemId=$itemInfo.itemId" border="0" class="jc_addtocart_link">Add to Cart</a><br><br>
          #end
        #end
        <form name="rateForm" method="post" action="$componentInfo.contextPath/content/item/update.do?process=rate&itemNaturalKey=$itemInfo.itemNaturalKey">
        <span class="jc_detail_text">
        Current Rating: 
        <span class="jc_detail_item_rating">$itemInfo.itemRating</span> &nbsp;&nbsp;
        No. of Rating:
        <span class="jc_detail_item_rating">$itemInfo.itemRatingCount</span><br>
        <input type="radio" name="rate" value="1">
        <input type="radio" name="rate" value="2">
        <input type="radio" name="rate" value="3">
        <input type="radio" name="rate" value="4">
        <input type="radio" name="rate" value="5">
        Highest<br>
        </span>
        <a class="jc_detail_rate_link" onclick="document.rateForm.submit(); return false;" href="/$siteInfo.siteId/content/item/update.do?process=rate&itemId=$itemInfo.itemId" border="0">Rate this item</a>
        <span class="jc_detail_text">$itemInfo.itemDesc</span><br>
        </form>
        #set ($title = $itemInfo.itemShortDesc)
	#parse("common/share.vm")
      </div>
    </td>
    #if ($template.isShoppingCart())
    <td style="width:10px;" height="100%" valign="top">
      <div class="jc_vertical_line_seperator"></div>
    </td>
    #end
    <td style="width:300px" valign="top">
      #if ($template.isShoppingCart())
      <div class="jc_horizontal_line_seperator"></div>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr> 
          <td> $template.getShoppingCartSummary() </td>
        </tr>
      </table>
      #end
      <div class="jc_horizontal_line_seperator"></div>
    </td>
  </tr>
</table>
