<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <title th:text="#{title}">Title</title>
</head>

<body id="page-top" class="index">
<div th:replace="fragments :: navbar"></div>

<div class="section">
    <div id="content-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="content-post">
                        <h4 th:text="${term.title}">Single Malt</h4>
                        <div class="row">
                            <div class="brand-detail">
                                <div class="col-sm-12">
                                    <div class="item-description">[(${term.description})]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>
</body>