<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taklip.yoda.mapper.ContentUserRateMapper">
    <cache />

    <resultMap id="contentUserRateResult" type="ContentUserRate">
        <id property="id" column="id" />
        <result property="contentId" column="content_id" />
        <result property="createTime" column="create_time" />
        <result property="score" column="score" />
        <result property="deleted" column="deleted" />
        <!-- <association property="createBy" column="id" javaType="User" resultMap="userResult" /> -->
        <result property="createBy" column="create_by" />
    </resultMap>

    <!-- <resultMap id="userResult" type="User">
        <id property="id" column="id" />
        <result property="username" column="username" />
    </resultMap> -->

    <sql id="contentUserRateColumns">
        c.id,
        c.content_id AS content_id,
        c.create_time AS create_time,
        c.score,
        c.deleted,
        c.create_by AS createBy
        <!-- u.id,
        u.username -->
    </sql>

    <!-- <sql id="contentUserRateJoins">
        LEFT OUTER JOIN user u on c.create_by = u.id
    </sql> -->

    <select id="getContentUserRateByContentIdAndUserId" resultMap="contentUserRateResult">
        SELECT 
            <include refid="contentUserRateColumns"/>
        FROM content_user_rate c
        <!-- <include refid="contentUserRateJoins"/> -->
        WHERE c.content_id = #{param1} AND c.create_by = #{param2}
    </select>

    <select id="getContentUserRatesByContentId" resultMap="contentUserRateResult">
        SELECT 
            <include refid="contentUserRateColumns"/>
        FROM content_user_rate c
        <!-- <include refid="contentUserRateJoins"/> -->
        WHERE c.content_id = #{contentId} ORDER BY create_time DESC
    </select>
</mapper>