<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taklip.yoda.mapper.ItemMapper">
    <cache
        eviction="LRU"
        flushInterval="300000"
        size="1000"
        readOnly="true"/>

    <resultMap id="itemResult" type="Item">
        <id property="id" column="id" />
        <result property="categoryId" column="category_id" />
        <result property="contentId" column="content_id" />
        <result property="createTime" column="create_time" />   
        <result property="updateTime" column="update_time" />
        <result property="description" column="description" />
        <result property="hitCounter" column="hit_counter" />
        <result property="level" column="level" />
        <result property="name" column="name" />
        <result property="buyLinks" column="buy_links" />
        <result property="extraFields" column="extra_fields" />
        <result property="imagePath" column="image_path" />
        <result property="price" column="price" />
        <result property="rating" column="rating" />
        <result property="siteId" column="site_id" />
        <result property="deleted" column="deleted" />
        <result property="brandId" column="brand_id" />
        <!-- <association property="brand" javaType="Brand">
            <id property="id" column="brand_id"/>
            <result property="name" column="brand_name" />
        </association> -->
        <result property="createBy" column="create_by" />
        <result property="updateBy" column="update_by" />
        <!-- <association property="createBy" column="id" javaType="User" resultMap="userResult" />
        <association property="updateBy" column="id" javaType="User" resultMap="userResult" columnPrefix="u_" /> -->
    </resultMap>

    <!-- <resultMap id="userResult" type="User">
        <id property="id" column="id" />
        <result property="username" column="username" />
    </resultMap> -->

    <sql id="itemColumns">
        i.id AS id,
        i.site_id AS site_id,
        i.content_id AS content_id,
        i.category_id AS category_id,
        i.hit_counter AS hit_counter,
        i.name,
        i.level,
        i.price,
        i.rating,
        i.create_time AS createTime,
        i.update_time AS updateTime,
        i.image_path AS image_path,
        i.buy_links AS buy_links,
        i.extra_fields AS extra_fields,
        i.description,
        i.create_by AS createBy,
        i.update_by AS updateBy,
        i.brand_id AS brand_id
        <!-- u.id,
        u.username,
        uu.id AS u_id,
        uu.username AS u_username -->
    </sql>

    <sql id="itemJoins">
        <!-- LEFT OUTER JOIN brand b on i.brand_id = b.id -->
        <!-- LEFT OUTER JOIN user u on i.create_by = u.id
        LEFT OUTER JOIN user uu on i.update_by = uu.id -->
    </sql>

    <select id="getItemById" resultMap="itemResult">
        SELECT 
            <include refid="itemColumns"/>
        FROM item i
        <include refid="itemJoins"/>
        WHERE i.deleted = 0 and i.id = #{id}
    </select>

    <select id="getItems" resultMap="itemResult">
        SELECT 
            <include refid="itemColumns"/>
        FROM item i
        <include refid="itemJoins"/>
        WHERE i.deleted = 0
        ORDER BY i.id DESC
    </select>

    <select id="getItemsByContentId" resultMap="itemResult">
        SELECT 
            <include refid="itemColumns"/>
        FROM item i
        <include refid="itemJoins"/>
        WHERE i.deleted = 0 AND i.content_id = #{contentId}
        ORDER BY i.update_time DESC
    </select>

    <select id="getItemsByBrandId" resultMap="itemResult">
        SELECT 
            <include refid="itemColumns"/>
        FROM item i
        <include refid="itemJoins"/>
        WHERE i.deleted = 0 AND i.brand_id = #{brandId}
        ORDER BY i.update_time DESC
    </select>

    <select id="getItemsByContentIdAndBrandId" resultMap="itemResult">
        SELECT 
            <include refid="itemColumns"/>
        FROM item i
        <include refid="itemJoins"/>
        WHERE i.deleted = 0 AND i.content_id = #{param1} AND i.brand_id = #{param2}
    </select>

    <select id="search" resultType="Item">
        SELECT 
            <include refid="itemColumns"/>
        FROM item i
        <include refid="itemJoins"/>
        <where>
            i.deleted = 0 and i.site_id  = #{param1}
        </where>
        order by i.id
    </select>
</mapper>