<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taklip.yoda.mapper.PrivateMessageMapper">
    <cache
        eviction="LRU"
        flushInterval="300000"
        size="1000"
        readOnly="true"/>

    <resultMap id="privateMessageResult" type="PrivateMessage">
        <id property="id" column="id" />
        <result property="rootId" column="root_id" />
        <result property="createTime" column="create_time" />
        <result property="description" column="description" />
        <result property="deleted" column="deleted" />
        <result property="createBy" column="create_by" />
        <result property="updateBy" column="update_by" />
        <association property="messageFrom" column="user_id" javaType="User" resultMap="userResult" />
        <association property="messageTo" column="user_id" javaType="User" resultMap="userResult" columnPrefix="u_" />
        <association property="user" column="user_id" javaType="User" resultMap="userResult" />
        <!-- <association property="createBy" column="user_id" javaType="User" resultMap="userResult" />
        <association property="updateBy" column="user_id" javaType="User" resultMap="userResult" columnPrefix="u_" /> -->
    </resultMap>

    <resultMap id="userResult" type="User">
        <id property="userId" column="user_id" />
        <result property="username" column="username" />
        <result property="profilePhotoSmall" column="profile_photo_small" />
    </resultMap>
</mapper>