<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="controlpanelfragments :: controlpanelhead(title=~{::title/text()})">
    <title th:text="#{brand}">Brand</title>
</head>

<body id="page-top" class="index">
<div th:replace="controlpanelfragments :: controlpanelnavbar"></div>

<div class="container-fluid">
    <div class="section">
        <ol class="breadcrumb">
            <li><a href="/controlpanel/home/home.html" th:href="@{/controlpanel/home}">Administration</a></li>
            <li><a href="/controlpanel/brand/list.html" th:href="@{/controlpanel/brand}">Brand Listing</a></li>
        </ol>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p th:text="#{search}"></p>
                    </div>
                    <div class="panel-body">
                        <form name="fm">
                            <div class="form-group">
                                <label for="name" th:text="#{name}">Title</label>
                                <input id="name" name="name" type="text" class="form-control" />
                            </div>
                            <input type="submit" th:value="#{search}" class="btn btn-sm btn-primary" role="button" th:onclick=="'return submitSearch()'"/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="page-header">
                    <h4>Brand Listing Result</h4>
                </div>
                <div class="text-right">
                    <a class="btn btn-primary btn-sm" href="/controlpanel/content/edit.html" th:href="@{/controlpanel/brand/add}" th:text="#{new}">New</a>
                    <input type="submit" th:value="#{remove}" class="btn btn-sm btn-default" role="button" th:onclick="'return submitRemove()'"/>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th th:text="#{id}">ID</th>
                            <th th:text="#{name}">name</th>
                            <th th:text="#{kind}">kind</th>
                            <th th:text="#{country}">country</th>
                            <th th:text="#{score}">score</th>
                            <th th:text="#{action}">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${page.data.empty}">
                                <td colspan="3">No data</td>
                            </tr>
                            <tr th:each="brand : ${page.data}">
                                <td><input type="checkbox" id="brandIds" th:value="${brand.brandId}"></td>
                                <td th:text="${brand.brandId}">1</td>
                                <td th:text="${brand.name}">name</td>
                                <td th:text="${brand.kind}">drink</td>
                                <td th:text="${brand.country}">country</td>
                                <td th:text="${brand.score}">score</td>
                                <td>
                                    <a href="/controlpanel/brand/edit.html" th:href="@{'/controlpanel/brand/' + ${brand.brandId} + '/edit'}" th:text="#{edit}">Edit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="pagination-info" role="alert" aria-live="polite" aria-relevant="all" th:text="'Showing ' + ${((page.currentPageNo - 1) * 10) + 1} + ' to ' + ${(page.currentPageNo) * 10} + ' of ' + ${page.totalCount} + ' entries'">
                            Text
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="pagination-section">
                            <div class="pagination-pages">
                                <ul class="pagination">
                                    <li th:if="${page.hasPreviousPage}"><a th:href="@{/controlpanel/brand(offset=${page.currentPageNo - 2})}" aria-label="Previous"><span>&laquo;</span></a></li>
                                    <li th:unless="${page.hasPreviousPage}" class="disabled"><span>&laquo;</span>
                                    </li>
                                    <li th:if="${page.hasNextPage}"><a th:href="@{/controlpanel/brand(offset=${page.currentPageNo})}" aria-label="Next"><span>&raquo;</span></a></li>
                                    <li th:unless="${page.hasNextPage}" class="disabled"><span>&laquo;</span></li>
                                </ul>
                            </div>
                            <div class="pagination-nav" th:text="${page.currentPageNo} + ' / ' + ${page.totalPageCount}"></div>
                            <div class="pagination-go-input">
                                <input type="text" class="form-control">
                            </div>
                            <div class="pagination-go-button">
                                <input type="button" class="btn btn-default" value="Go">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="controlpanelfragments :: controlpanelfooter"></div>
</body>
</html>

<script type="text/javascript">
    function submitSearch() {
        document.fm.action = "/controlpanel/brand/search";
        document.fm.method = "POST";
        document.fm.submit();
    }

    function submitRemove() {
        var ids = getSelectedBrandIds();

        if (ids) {
            var url = "/controlpanel/brand/remove?brandIds=" + ids;
            location.href = url;
        }

        return false;
    }

    function getSelectedBrandIds() {
        var selectBoxs = document.all("brandIds");

        if (!selectBoxs) return null;

        if (typeof (selectBoxs.length) == "undefined" && selectBoxs.checked) {
            return selectBoxs.value;
        } else {//many checkbox ,so is a array
            var brandIds = "";
            var split = "";
            for (var i = 0; i < selectBoxs.length; i++) {
                if (selectBoxs[i].checked) {
                    brandIds += split + selectBoxs[i].value;
                    split = ",";
                }
            }

            return brandIds;
        }
    }
</script>